{
  "openapi": "3.0.3",
  "info": {
    "title": "Makeshop Shop API — 주문 (Order)",
    "version": "v1",
    "x-source": "https://developer.makeshop.co.kr/docs/api/order",
    "x-extracted": "2026-06-03 (Docusaurus chunk decode)"
  },
  "servers": [
    {
      "url": "https://connect.makeshop.co.kr",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/api/v1/{shopId}/cash_bill": {
      "get": {
        "operationId": "get-cash_bill",
        "description": "현금영수증 리스트를 조회합니다.\n\n:::info\n월단위 주문 계산(search_ordernum_month) 입력 시, 검색 시작 일의 일자와 검색 종료 일은 무시합니다.<br />복합과세 표기는 주문서 2.0버전에서만 지원합니다.<br />주문서 버전 1.0, 2.0 사용 가능 합니다.\n:::",
        "tags": [
          "주문"
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "description": "조회 리스트",
                      "items": {
                        "type": "object",
                        "properties": {
                          "order_date": {
                            "type": "string",
                            "description": "주문 일자 (0000-00-00)",
                            "format": "date"
                          },
                          "ordernum": {
                            "type": "string",
                            "description": "주문 번호"
                          },
                          "name": {
                            "type": "string",
                            "description": "주문자"
                          },
                          "tax_type": {
                            "type": "string",
                            "description": "발급 형태 (Y : 과세, N : 비과세, A : 혼합(과세/비과세, 주문서 2.0에서만 출력))"
                          },
                          "price": {
                            "type": "string",
                            "description": "금액"
                          },
                          "payment": {
                            "type": "string",
                            "description": "결제 상태 (Y : 입금, N : 미입금, R : 환불)"
                          },
                          "delivery": {
                            "type": "string",
                            "description": "배송 상태 (<a href='/docs/guide/app/makeshop-code-list#A-1-1' target='_blank'>A.1.1</a> 참고)"
                          },
                          "status": {
                            "type": "string",
                            "description": "내용 (Y : 발급완료, N : 발급요청, C : 취소완료, A : 개별 발송(주문서 1.0에서만 출력), D : 삭제 주문서(주문서 1.0에서만 출력))"
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "string",
                      "description": "현재 페이지"
                    },
                    "count": {
                      "type": "string",
                      "description": "조회된 적립금 내역의 수"
                    },
                    "totalPage": {
                      "type": "string",
                      "description": "총 페이지 수"
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 검색 수"
                    },
                    "return_code": {
                      "type": "string",
                      "description": "결과 <a href='/docs/guide/app/makeshop-code-list#B-1-1' target='_blank'>코드정보</a>"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "shopId",
            "in": "path",
            "required": true,
            "description": "상점Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "검색 한도 (MAX: 5000 (default))",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "검색할 페이지 (default: 1)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InquiryTimeFrom",
            "in": "query",
            "required": true,
            "description": "검색 시작 일자 (0000-00-00, 등록일, 특정 회원을 검색하는 경우가 아니면 필수 입력)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "InquiryTimeTo",
            "in": "query",
            "required": false,
            "description": "검색 종료 일자 (0000-00-00, 검색 시작 일자만 있는 경우 종료 일자는 당일 일자로 검색)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "search_type",
            "in": "query",
            "required": false,
            "description": "검색 기준 (tsditme : 처리일자, ordernum : 주문일자 default : tsditme)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_ordernum_month",
            "in": "query",
            "required": false,
            "description": "월단위 주문 계산 (Y, 검색 기준이 ordernum일 때, Y일 경우 주문일자의 해당 월 전체 검색)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pay_status",
            "in": "query",
            "required": false,
            "description": "입금여부",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_status",
            "in": "query",
            "required": false,
            "description": "주문 처리 상태 (Y:배송, P:부분배송, S:발송준비, C:취소, R:반송, N:미배송)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "상태 (Y:발급완료, N:발급요청, C:취소완료)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tax_type",
            "in": "query",
            "required": false,
            "description": "발급 형태 (Y:과세, N:비과세, A:혼합)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reissue",
            "in": "query",
            "required": false,
            "description": "재발행 여부 (Y)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "주문",
        "extensions": [
          {
            "key": "x-scope",
            "value": "주문"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "postman": {
          "name": "현금영수증 조회",
          "description": {
            "content": "현금영수증 리스트를 조회합니다.\n\n:::info\n월단위 주문 계산(search_ordernum_month) 입력 시, 검색 시작 일의 일자와 검색 종료 일은 무시합니다.<br />복합과세 표기는 주문서 2.0버전에서만 지원합니다.<br />주문서 버전 1.0, 2.0 사용 가능 합니다.\n:::",
            "type": "text/plain"
          },
          "url": {
            "path": [
              "api",
              "v1",
              ":shopId",
              "cash_bill"
            ],
            "host": [
              "{{baseUrl}}"
            ],
            "query": [
              {
                "disabled": false,
                "description": {
                  "content": "검색 한도 (MAX: 5000 (default))",
                  "type": "text/plain"
                },
                "key": "limit",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "검색할 페이지 (default: 1)",
                  "type": "text/plain"
                },
                "key": "page",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "(Required) 검색 시작 일자 (0000-00-00, 등록일, 특정 회원을 검색하는 경우가 아니면 필수 입력)",
                  "type": "text/plain"
                },
                "key": "InquiryTimeFrom",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "검색 종료 일자 (0000-00-00, 검색 시작 일자만 있는 경우 종료 일자는 당일 일자로 검색)",
                  "type": "text/plain"
                },
                "key": "InquiryTimeTo",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "검색 기준 (tsditme : 처리일자, ordernum : 주문일자 default : tsditme)",
                  "type": "text/plain"
                },
                "key": "search_type",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "월단위 주문 계산 (Y, 검색 기준이 ordernum일 때, Y일 경우 주문일자의 해당 월 전체 검색)",
                  "type": "text/plain"
                },
                "key": "search_ordernum_month",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "입금여부",
                  "type": "text/plain"
                },
                "key": "pay_status",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "주문 처리 상태 (Y:배송, P:부분배송, S:발송준비, C:취소, R:반송, N:미배송)",
                  "type": "text/plain"
                },
                "key": "order_status",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "상태 (Y:발급완료, N:발급요청, C:취소완료)",
                  "type": "text/plain"
                },
                "key": "status",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "발급 형태 (Y:과세, N:비과세, A:혼합)",
                  "type": "text/plain"
                },
                "key": "tax_type",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "재발행 여부 (Y)",
                  "type": "text/plain"
                },
                "key": "reissue",
                "value": ""
              }
            ],
            "variable": [
              {
                "disabled": false,
                "description": {
                  "content": "(Required) 상점Id",
                  "type": "text/plain"
                },
                "type": "any",
                "value": "",
                "key": "shopId"
              }
            ]
          },
          "header": [
            {
              "key": "Accept",
              "value": "application/json"
            }
          ],
          "method": "GET"
        },
        "summary": "현금영수증 조회"
      }
    },
    "/api/v1/{shopId}/order/1": {
      "get": {
        "operationId": "get-order-1",
        "description": "주문서 1.0 정보를 조회합니다.\n\n:::info\n조회 범위는 30일 까지 가능합니다.<br />주문 데이터가 많은 경우 조회 기간을 1일로 권장합니다.<br />최근 주문서 순으로 정렬됩니다.<br />메이크샵 신규 가입 시 주문 1.0은 사용할 수 없습니다.<br />요청 전문 중 fields필드를 이용하면 불필요한 값으로 인한 검색 속도 저하를 최소화 할 수 있습니다.\n:::",
        "tags": [
          "주문"
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "object",
                      "description": "주문 목록 (key: 주문번호)",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "order": {
                            "type": "object",
                            "description": "주문 정보",
                            "properties": {
                              "ordernum": {
                                "type": "string",
                                "description": "주문번호"
                              },
                              "order_date": {
                                "type": "string",
                                "description": "주문일자 (0000-00-00 00:00:00)",
                                "format": "date-time",
                                "example": "0000-00-00 00:00:00"
                              },
                              "message": {
                                "type": "string",
                                "description": "주문 메시지"
                              },
                              "admin_message": {
                                "type": "string",
                                "description": "관리자 주문 메시지"
                              },
                              "user_notice": {
                                "type": "string",
                                "description": "고객 알리미"
                              },
                              "pay_path": {
                                "type": "string",
                                "description": "디바이스 (WEB, MOBILE, POWERAPP)"
                              },
                              "sender": {
                                "type": "string",
                                "description": "주문자"
                              },
                              "phone": {
                                "type": "string",
                                "description": "연락처"
                              },
                              "price": {
                                "type": "string",
                                "description": "결제 금액"
                              },
                              "in_price": {
                                "type": "string",
                                "description": "입금 금액 (입금전이면 응답값 없음)"
                              },
                              "start_price": {
                                "type": "string",
                                "description": "주문서 최초 금액"
                              },
                              "deli_price": {
                                "type": "string",
                                "description": "배송비"
                              },
                              "email": {
                                "type": "string",
                                "description": "이메일"
                              },
                              "delivery": {
                                "type": "string",
                                "description": "배송 상태 코드 (<a href='/docs/guide/app/makeshop-code-list#A-1-1' target='_blank'>A.1.1</a> 참고)"
                              },
                              "add_info": {
                                "type": "object",
                                "description": "추가 정보. 예) {\"체크박스\": \":0\"}"
                              },
                              "id": {
                                "type": "string",
                                "description": "회원 아이디"
                              },
                              "reserve": {
                                "type": "string",
                                "description": "적립금"
                              },
                              "vat_price": {
                                "type": "string",
                                "description": "부가세"
                              },
                              "dc_price": {
                                "type": "string",
                                "description": "할인 금액"
                              },
                              "used_reserve": {
                                "type": "string",
                                "description": "사용 적립금"
                              },
                              "used_emoney": {
                                "type": "string",
                                "description": "사용 예치금"
                              },
                              "link_id": {
                                "type": "string",
                                "description": "유입경로 (naver_pay : 네이버페이)"
                              },
                              "naver_pay_oid": {
                                "type": "string",
                                "description": "네이버페이 주문번호"
                              },
                              "user_memo": {
                                "type": "string",
                                "description": "회원 간단 메모"
                              },
                              "safe_number_type": {
                                "type": "string",
                                "description": "안심번호 상태 (Y : 안심번호 신청, N : 안심번호 해지)"
                              },
                              "safe_number": {
                                "type": "string",
                                "description": "안심번호"
                              }
                            }
                          },
                          "product": {
                            "type": "object",
                            "description": "상품 목록 (key: 상품번호)",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "num": {
                                  "type": "string",
                                  "description": "품목번호"
                                },
                                "product_uid": {
                                  "type": "string",
                                  "description": "상품번호"
                                },
                                "brandcode": {
                                  "type": "string",
                                  "description": "상품코드"
                                },
                                "category_name": {
                                  "type": "string",
                                  "description": "카테고리명 (fields 추가시 출력됩니다)"
                                },
                                "product_name": {
                                  "type": "string",
                                  "description": "상품명"
                                },
                                "naver_pay_pid": {
                                  "type": "string",
                                  "description": "네이버 체크아웃 품목 번호"
                                },
                                "basket_stock": {
                                  "type": "string",
                                  "description": "수량"
                                },
                                "option_type": {
                                  "type": "string",
                                  "description": "옵션 종류"
                                },
                                "option_data": {
                                  "type": "string",
                                  "description": "상품 옵션"
                                },
                                "reserve": {
                                  "type": "string",
                                  "description": "적립금"
                                },
                                "price": {
                                  "type": "string",
                                  "description": "상품 가격"
                                },
                                "provider_code": {
                                  "type": "string",
                                  "description": "공급사 코드"
                                },
                                "provider_name": {
                                  "type": "string",
                                  "description": "공급사명"
                                },
                                "provider_company_name": {
                                  "type": "string",
                                  "description": "공급사 회사명"
                                },
                                "deliveryInfo": {
                                  "type": "array",
                                  "description": "배송 정보",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "maximage": {
                                  "type": "string",
                                  "description": "확대이미지"
                                },
                                "minimage": {
                                  "type": "string",
                                  "description": "상세이미지"
                                },
                                "tinyimage": {
                                  "type": "string",
                                  "description": "리스트/메인 이미지"
                                }
                              }
                            },
                            "example": {
                              "{key}": {
                                "num": "string",
                                "product_uid": "string",
                                "brandcode": "string",
                                "category_name": "string",
                                "product_name": "string",
                                "naver_pay_pid": "string",
                                "basket_stock": "string",
                                "option_type": "string",
                                "option_data": "string",
                                "reserve": "string",
                                "price": "string",
                                "provider_code": "string",
                                "provider_name": "string",
                                "provider_company_name": "string",
                                "deliveryInfo": [
                                  "string"
                                ],
                                "maximage": "string",
                                "minimage": "string",
                                "tinyimage": "string"
                              }
                            }
                          },
                          "payment": {
                            "type": "object",
                            "description": "결제 정보",
                            "properties": {
                              "paymethod": {
                                "type": "string",
                                "description": "결제 방식 코드 (<a href='/docs/guide/app/makeshop-code-list#A-1-2' target='_blank'>A.1.2</a> 참고)"
                              },
                              "re_paymethod": {
                                "type": "string",
                                "description": "재결제 방법 (<a href='/docs/guide/app/makeshop-code-list#A-1-2' target='_blank'>A.1.2</a> 참고)"
                              },
                              "simple_pay": {
                                "type": "string",
                                "description": "간편 결제 (<a href='/docs/guide/app/makeshop-code-list#A-1-2' target='_blank'>A.1.2</a> 참고)"
                              },
                              "banker": {
                                "type": "string",
                                "description": "입금자"
                              },
                              "bank_name": {
                                "type": "string",
                                "description": "입금은행"
                              },
                              "bank_account": {
                                "type": "string",
                                "description": "입금계좌"
                              },
                              "bank_date": {
                                "type": "string",
                                "description": "입금 완료일 (0000-00-00 00:00:00)",
                                "format": "date-time",
                                "example": "0000-00-00 00:00:00"
                              },
                              "card_flag": {
                                "type": "string",
                                "description": "카드 처리 결과 (성공 : 0000)"
                              },
                              "card_state": {
                                "type": "string",
                                "description": "결제 여부 (N : 카드승인, Y : 결제완료, C : 취소완료)"
                              },
                              "in_card_price": {
                                "type": "string",
                                "description": "카드 결제 금액"
                              }
                            }
                          },
                          "delivery": {
                            "type": "object",
                            "description": "배송 정보",
                            "properties": {
                              "post": {
                                "type": "string",
                                "description": "우편번호"
                              },
                              "address": {
                                "type": "string",
                                "description": "주소"
                              },
                              "receiver": {
                                "type": "string",
                                "description": "수령인"
                              },
                              "delicom": {
                                "type": "string",
                                "description": "택배사 코드"
                              },
                              "delicom_name": {
                                "type": "string",
                                "description": "택배사"
                              },
                              "delinum": {
                                "type": "string",
                                "description": "배송번호"
                              },
                              "deli_date": {
                                "type": "string",
                                "description": "배송일 (0000-00-00 00:00:00)",
                                "format": "date-time",
                                "example": "0000-00-00 00:00:00"
                              },
                              "hope_deli_s_date": {
                                "type": "string",
                                "description": "희망 배송 시작일 (0000-00-00 00:00:00)",
                                "format": "date-time",
                                "example": "0000-00-00 00:00:00"
                              },
                              "hope_deli_e_date": {
                                "type": "string",
                                "description": "희망 배송 종료일 (0000-00-00 00:00:00)",
                                "format": "date-time",
                                "example": "0000-00-00 00:00:00"
                              },
                              "receiver_mobile": {
                                "type": "string",
                                "description": "수령인 휴대폰"
                              },
                              "receiver_phone": {
                                "type": "string",
                                "description": "수령인 전화번호"
                              }
                            }
                          },
                          "benefit": {
                            "type": "object",
                            "properties": {
                              "group": {
                                "type": "object",
                                "properties": {
                                  "group_name": {
                                    "type": "string",
                                    "description": "그룹명"
                                  },
                                  "group_price": {
                                    "type": "string",
                                    "description": "그룹 할인 금액"
                                  },
                                  "group_reserve": {
                                    "type": "string",
                                    "description": "그룹 적립금"
                                  }
                                }
                              },
                              "coupon": {
                                "type": "object",
                                "properties": {
                                  "coupon_name": {
                                    "type": "string",
                                    "description": "쿠폰명"
                                  },
                                  "coupon_price": {
                                    "type": "string",
                                    "description": "쿠폰 할인 금액"
                                  },
                                  "coupon_reserve": {
                                    "type": "string",
                                    "description": "쿠폰 적립금"
                                  }
                                }
                              },
                              "cash": {
                                "type": "object",
                                "properties": {
                                  "cash_name": {
                                    "type": "string",
                                    "description": "수수료"
                                  },
                                  "cash_price": {
                                    "type": "string",
                                    "description": "수수료 할인 금액"
                                  },
                                  "cash_reserve": {
                                    "type": "string",
                                    "description": "수수료 적립금"
                                  }
                                }
                              },
                              "banner": {
                                "type": "object",
                                "properties": {
                                  "banner_name": {
                                    "type": "string",
                                    "description": "배너 수익 모델"
                                  },
                                  "banner_price": {
                                    "type": "string",
                                    "description": "배너 수익 모델 할인 금액"
                                  },
                                  "banner_reserve": {
                                    "type": "string",
                                    "description": "배너 수익 모델 적립금"
                                  }
                                }
                              },
                              "beecon": {
                                "type": "object",
                                "properties": {
                                  "beecon_name": {
                                    "type": "string",
                                    "description": "배너 수익 모델"
                                  },
                                  "beecon_price": {
                                    "type": "string",
                                    "description": "배너 수익 모델 할인 금액"
                                  },
                                  "beecon_reserve": {
                                    "type": "string",
                                    "description": "배너 수익 모델 적립금"
                                  }
                                }
                              },
                              "gift": {
                                "type": "object",
                                "properties": {
                                  "gift_name": {
                                    "type": "string",
                                    "description": "사은품명"
                                  },
                                  "gift_amount": {
                                    "type": "string",
                                    "description": "사은품 수량"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "example": {
                        "{key}": {
                          "order": {
                            "ordernum": "string",
                            "order_date": "0000-00-00 00:00:00",
                            "message": "string",
                            "admin_message": "string",
                            "user_notice": "string",
                            "pay_path": "string",
                            "sender": "string",
                            "phone": "string",
                            "price": "string",
                            "in_price": "string",
                            "start_price": "string",
                            "deli_price": "string",
                            "email": "string",
                            "delivery": "string",
                            "add_info": {},
                            "id": "string",
                            "reserve": "string",
                            "vat_price": "string",
                            "dc_price": "string",
                            "used_reserve": "string",
                            "used_emoney": "string",
                            "link_id": "string",
                            "naver_pay_oid": "string",
                            "user_memo": "string",
                            "safe_number_type": "string",
                            "safe_number": "string"
                          },
                          "product": {
                            "{key}": {
                              "num": "string",
                              "product_uid": "string",
                              "brandcode": "string",
                              "category_name": "string",
                              "product_name": "string",
                              "naver_pay_pid": "string",
                              "basket_stock": "string",
                              "option_type": "string",
                              "option_data": "string",
                              "reserve": "string",
                              "price": "string",
                              "provider_code": "string",
                              "provider_name": "string",
                              "provider_company_name": "string",
                              "deliveryInfo": [
                                "string"
                              ],
                              "maximage": "string",
                              "minimage": "string",
                              "tinyimage": "string"
                            }
                          },
                          "payment": {
                            "paymethod": "string",
                            "re_paymethod": "string",
                            "simple_pay": "string",
                            "banker": "string",
                            "bank_name": "string",
                            "bank_account": "string",
                            "bank_date": "0000-00-00 00:00:00",
                            "card_flag": "string",
                            "card_state": "string",
                            "in_card_price": "string"
                          },
                          "delivery": {
                            "post": "string",
                            "address": "string",
                            "receiver": "string",
                            "delicom": "string",
                            "delicom_name": "string",
                            "delinum": "string",
                            "deli_date": "0000-00-00 00:00:00",
                            "hope_deli_s_date": "0000-00-00 00:00:00",
                            "hope_deli_e_date": "0000-00-00 00:00:00",
                            "receiver_mobile": "string",
                            "receiver_phone": "string"
                          },
                          "benefit": {
                            "group": {
                              "group_name": "string",
                              "group_price": "string",
                              "group_reserve": "string"
                            },
                            "coupon": {
                              "coupon_name": "string",
                              "coupon_price": "string",
                              "coupon_reserve": "string"
                            },
                            "cash": {
                              "cash_name": "string",
                              "cash_price": "string",
                              "cash_reserve": "string"
                            },
                            "banner": {
                              "banner_name": "string",
                              "banner_price": "string",
                              "banner_reserve": "string"
                            },
                            "beecon": {
                              "beecon_name": "string",
                              "beecon_price": "string",
                              "beecon_reserve": "string"
                            },
                            "gift": {
                              "gift_name": "string",
                              "gift_amount": "string"
                            }
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "string",
                      "description": "검색 페이지"
                    },
                    "count": {
                      "type": "string",
                      "description": "출력된 검색 수"
                    },
                    "totalPage": {
                      "type": "string",
                      "description": "총 페이지 수"
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 검색 수"
                    },
                    "return_code": {
                      "type": "string",
                      "description": "성공시 0000, 실패시 error code 출력 <a href='/docs/guide/app/makeshop-code-list#B-1-1' target='_blank'>코드정보</a>"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "shopId",
            "in": "path",
            "required": true,
            "description": "상점Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InquiryTimeFrom",
            "in": "query",
            "required": false,
            "description": "검색 시작 일자 (0000-00-00 00:00:00)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "0000-00-00 00:00:00"
            }
          },
          {
            "name": "InquiryTimeTo",
            "in": "query",
            "required": false,
            "description": "검색 종료 일자 (0000-00-00 00:00:00)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "0000-00-00 00:00:00"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "검색 한도 (MAX : 5000 (default))",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "검색할 페이지",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderStatus",
            "in": "query",
            "required": false,
            "description": "<a href='/docs/guide/app/makeshop-code-list#A-2-1' target='_blank'>A.2.1</a> 참고",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "payStatus",
            "in": "query",
            "required": false,
            "description": "결제 여부 (Y : 입금 승인, B : 미입금 실패, C : 환불 취소, P : 부분취소가능, P2 : 부분취소)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ordernum",
            "in": "query",
            "required": false,
            "description": "주문번호 (주문번호 검색 시 검색일자 무시)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "조회필드 (서버 부하를 줄이고 API 이용 시 응답 속도 개선. fields=ordernum,num,basket_status)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "주문",
        "extensions": [
          {
            "key": "x-scope",
            "value": "주문"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "postman": {
          "name": "주문 1.0 조회",
          "description": {
            "content": "주문서 1.0 정보를 조회합니다.\n\n:::info\n조회 범위는 30일 까지 가능합니다.<br />주문 데이터가 많은 경우 조회 기간을 1일로 권장합니다.<br />최근 주문서 순으로 정렬됩니다.<br />메이크샵 신규 가입 시 주문 1.0은 사용할 수 없습니다.<br />요청 전문 중 fields필드를 이용하면 불필요한 값으로 인한 검색 속도 저하를 최소화 할 수 있습니다.\n:::",
            "type": "text/plain"
          },
          "url": {
            "path": [
              "api",
              "v1",
              ":shopId",
              "order",
              "1"
            ],
            "host": [
              "{{baseUrl}}"
            ],
            "query": [
              {
                "disabled": false,
                "description": {
                  "content": "검색 시작 일자 (0000-00-00 00:00:00)",
                  "type": "text/plain"
                },
                "key": "InquiryTimeFrom",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "검색 종료 일자 (0000-00-00 00:00:00)",
                  "type": "text/plain"
                },
                "key": "InquiryTimeTo",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "검색 한도 (MAX : 5000 (default))",
                  "type": "text/plain"
                },
                "key": "limit",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "검색할 페이지",
                  "type": "text/plain"
                },
                "key": "page",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "<a href='/docs/guide/app/makeshop-code-list#A-2-1' target='_blank'>A.2.1</a> 참고",
                  "type": "text/plain"
                },
                "key": "orderStatus",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "결제 여부 (Y : 입금 승인, B : 미입금 실패, C : 환불 취소, P : 부분취소가능, P2 : 부분취소)",
                  "type": "text/plain"
                },
                "key": "payStatus",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "주문번호 (주문번호 검색 시 검색일자 무시)",
                  "type": "text/plain"
                },
                "key": "ordernum",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "조회필드 (서버 부하를 줄이고 API 이용 시 응답 속도 개선. fields=ordernum,num,basket_status)",
                  "type": "text/plain"
                },
                "key": "fields",
                "value": ""
              }
            ],
            "variable": [
              {
                "disabled": false,
                "description": {
                  "content": "(Required) 상점Id",
                  "type": "text/plain"
                },
                "type": "any",
                "value": "",
                "key": "shopId"
              }
            ]
          },
          "header": [
            {
              "key": "Accept",
              "value": "application/json"
            }
          ],
          "method": "GET"
        },
        "summary": "주문 1.0 조회"
      }
    },
    "/api/v1/{shopId}/order/2": {
      "get": {
        "operationId": "get-order-2",
        "description": "주문서 2.0 정보를 조회합니다.\n\n:::info\n조회 범위는 30일 까지 가능합니다.<br />주문 데이터가 많은 경우 조회 기간을 1일로 권장합니다.<br />최근 주문서 순으로 정렬됩니다.<br />요청 전문 중 fields필드를 이용하면 불필요한 값으로 인한 검색 속도 저하를 최소화 할 수 있습니다.<br />검색한도를 1000개 이상으로 조회 할 경우 정상적으로 조회되지 않을 수 있습니다.\n:::",
        "tags": [
          "주문"
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "object",
                      "description": "주문 번호를 기준으로 출력",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "order": {
                            "type": "object",
                            "description": "주문 정보",
                            "properties": {
                              "ordernum": {
                                "type": "string",
                                "description": "주문번호"
                              },
                              "order_date": {
                                "type": "string",
                                "description": "주문일자 (0000-00-00 00:00:00)",
                                "format": "date-time",
                                "example": "0000-00-00 00:00:00"
                              },
                              "is_member": {
                                "type": "string",
                                "description": "회원 여부 (MEMBER: 회원, GUEST: 비회원)"
                              },
                              "start_price": {
                                "type": "string",
                                "description": "주문서 최초 금액"
                              },
                              "pay_price": {
                                "type": "string",
                                "description": "주문 금액 (배송비 / 적립금 / 예치금 합산)"
                              },
                              "deli_quick": {
                                "type": "string",
                                "description": "당일배송 여부 (Y : 당일배송, N : 일반 배송, 주문 시 당일배송으로 주문한 경우에만 Y로 출력됩니다.)"
                              },
                              "deli_price": {
                                "type": "string",
                                "description": "배송비"
                              },
                              "deli_price_type": {
                                "type": "string",
                                "description": "배송비 지불 방식 (order: 주문서 포함, after: 착불)"
                              },
                              "order_status": {
                                "type": "string",
                                "description": "주문 상태 코드 (<a href='/docs/guide/app/makeshop-code-list#A-2-1' target='_blank'>A.2.1</a> 참고)"
                              },
                              "repay_price": {
                                "type": "string",
                                "description": "재결제 금액"
                              },
                              "repay_date": {
                                "type": "string",
                                "description": "재결제 일자 (0000-00-00 00:00:00)",
                                "format": "date-time",
                                "example": "0000-00-00 00:00:00"
                              },
                              "sender": {
                                "type": "string",
                                "description": "주문자"
                              },
                              "phone": {
                                "type": "string",
                                "description": "연락처"
                              },
                              "mobile": {
                                "type": "string",
                                "description": "휴대폰"
                              },
                              "email": {
                                "type": "string",
                                "description": "이메일"
                              },
                              "pay_path": {
                                "type": "string",
                                "description": "디바이스 (WEB, MOBILE, POWERAPP)"
                              },
                              "id": {
                                "type": "string",
                                "description": "회원 아이디"
                              },
                              "mem_type": {
                                "type": "string",
                                "description": "회원 구분 코드 (PERSON : 개인회원, COMPANY : 기업회원)"
                              },
                              "used_emoney": {
                                "type": "string",
                                "description": "사용 예치금"
                              },
                              "used_reserve": {
                                "type": "string",
                                "description": "사용 적립금"
                              },
                              "group_name": {
                                "type": "string",
                                "description": "그룹명"
                              },
                              "add_info": {
                                "type": "object",
                                "description": "추가 정보. 예) {\"체크박스\": \":0\"}"
                              },
                              "cash_receipt": {
                                "type": "string",
                                "description": "현금영수증 신청여부 (Y : 신청, N : 미신청)"
                              },
                              "cash_receipt_type": {
                                "type": "string",
                                "description": "현금영수증 개인, 사업자 구분 (1 : 개인, 1 : 법인)"
                              },
                              "cash_receipt_status": {
                                "type": "string",
                                "description": "현금영수증 진행상태 (Y : 발급완료, C : 취소완료, N : 발급요청)"
                              },
                              "tax_invoice": {
                                "type": "string",
                                "description": "세금계산서 신청 여부 (Y: 신청, N: 미신청)"
                              },
                              "tax_invoice_status": {
                                "type": "string",
                                "description": "세금계산서 상태 (APPLY: 요청,ISSUE : 발행 ,DONE : 발행완료 ,CANCEL : 취소)"
                              },
                              "reserve": {
                                "type": "string",
                                "description": "적립금"
                              },
                              "memo": {
                                "type": "array",
                                "description": "메모",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "pos": {
                                "type": "string",
                                "description": "셀포스 주문 여부 (Y: 셀포스 주문, N: 일반 주문)"
                              },
                              "link_id": {
                                "type": "string",
                                "description": "유입경로 (naver_pay : 네이버페이)"
                              },
                              "link_url": {
                                "type": "string",
                                "description": "유입URL"
                              },
                              "barcode": {
                                "type": "string",
                                "description": "바코드"
                              },
                              "barcode_url": {
                                "type": "string",
                                "description": "바코드URL"
                              },
                              "naver_pay_oid": {
                                "type": "string",
                                "description": "네이버페이 주문번호"
                              },
                              "talkcheck_oid": {
                                "type": "string",
                                "description": "카카오톡 체크아웃 주문번호"
                              },
                              "total_product_price": {
                                "type": "string",
                                "description": "상품 총 금액(취소/반품/교환제외)"
                              },
                              "safe_number_type": {
                                "type": "string",
                                "description": "안심번호 상태 (Y: 안심번호 신청, N: 안심번호 해지)"
                              },
                              "safe_number": {
                                "type": "string",
                                "description": "안심번호"
                              },
                              "basket_count": {
                                "type": "string",
                                "description": "주문 총 품목 수"
                              },
                              "regular_delivery": {
                                "type": "string",
                                "description": "정기배송 주문 여부 (정기배송인 경우만 Y)"
                              },
                              "customs_id": {
                                "type": "string",
                                "description": "개인 통관 고유 번호 (fields 추가시 출력됩니다.)"
                              }
                            }
                          },
                          "payment": {
                            "type": "object",
                            "description": "결제 정보",
                            "properties": {
                              "paymethod": {
                                "type": "string",
                                "description": "결제 방식 코드 (<a href='/docs/guide/app/makeshop-code-list#A-1-2' target='_blank'>A.1.2</a> 참고)"
                              },
                              "simple_pay": {
                                "type": "string",
                                "description": "간편 결제 (<a href='/docs/guide/app/makeshop-code-list#A-1-2' target='_blank'>A.1.2</a> 참고)"
                              },
                              "naverpay_core_type": {
                                "type": "string",
                                "description": "naverpay 결제 구분 (PG결제 / 네이버결제 (네이버에서 전달받은 결제방식))"
                              },
                              "pay_date": {
                                "type": "string",
                                "description": "결제 일자"
                              },
                              "card_state": {
                                "type": "string",
                                "description": "카드 승인 상태 (성공 : 0000)"
                              },
                              "pay_status": {
                                "type": "string",
                                "description": "결제 여부 (N : 카드승인, Y : 결제완료, C : 취소완료)"
                              },
                              "card_partcancel_code": {
                                "type": "string",
                                "description": "카드 부분 취소 코드"
                              },
                              "in_card_price": {
                                "type": "string",
                                "description": "카드 결제 금액"
                              },
                              "banker": {
                                "type": "string",
                                "description": "입금자"
                              },
                              "bank_name": {
                                "type": "string",
                                "description": "입금은행"
                              },
                              "bank_account": {
                                "type": "string",
                                "description": "입금계좌"
                              }
                            }
                          },
                          "product": {
                            "type": "object",
                            "description": "상품 목록",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "num": {
                                  "type": "string",
                                  "description": "품목번호"
                                },
                                "delivery_num": {
                                  "type": "string",
                                  "description": "배송번호"
                                },
                                "brandcode": {
                                  "type": "string",
                                  "description": "상품코드"
                                },
                                "category_name": {
                                  "type": "string",
                                  "description": "카테고리명 (fields 추가시 출력됩니다)"
                                },
                                "product_uid": {
                                  "type": "string",
                                  "description": "상품번호"
                                },
                                "product_type": {
                                  "type": "string",
                                  "description": "상품타입 (BASIC: 일반 상품, PACKAGE_PRODUCT: 세트 상품 품목, GIFT: 사은품)"
                                },
                                "pakcage_main": {
                                  "type": "string",
                                  "description": "세트 상품 메인 상품 번호"
                                },
                                "prd_option_uid": {
                                  "type": "string",
                                  "description": "옵션 코드"
                                },
                                "product_name": {
                                  "type": "string",
                                  "description": "상품명"
                                },
                                "product_cate1": {
                                  "type": "string",
                                  "description": "대분류"
                                },
                                "basket_status": {
                                  "type": "string",
                                  "description": "상품 상태 코드 (<a href='/docs/guide/app/makeshop-code-list#A-2-2' target='_blank'>A.2.2</a> 참고)"
                                },
                                "basket_stock": {
                                  "type": "string",
                                  "description": "상품 별 주문 수량"
                                },
                                "sell_price": {
                                  "type": "string",
                                  "description": "결제금액"
                                },
                                "product_price": {
                                  "type": "string",
                                  "description": "상품가"
                                },
                                "product_buyprice": {
                                  "type": "string",
                                  "description": "상품 구매원가"
                                },
                                "product_reserve": {
                                  "type": "string",
                                  "description": "상품 적립금"
                                },
                                "option_price": {
                                  "type": "string",
                                  "description": "옵션 금액"
                                },
                                "option_type": {
                                  "type": "string",
                                  "description": "옵션 종류"
                                },
                                "option_data": {
                                  "type": "string",
                                  "description": "상품 옵션"
                                },
                                "custom_option_data": {
                                  "type": "string",
                                  "description": "상품 작성형 옵션"
                                },
                                "plus_price": {
                                  "type": "string",
                                  "description": "추가 금액 (파워옵션 추가 금액형 타입의 옵션 금액)"
                                },
                                "plus_reserve": {
                                  "type": "string",
                                  "description": "추가 적립금"
                                },
                                "reserve_chk": {
                                  "type": "string",
                                  "description": "적립금 지급 여부 (Y, N)"
                                },
                                "cancelend_date": {
                                  "type": "string",
                                  "description": "취소 완료일 (0000-00-00 00:00:00)",
                                  "format": "date-time",
                                  "example": "0000-00-00 00:00:00"
                                },
                                "returnend_date": {
                                  "type": "string",
                                  "description": "반품 완료일 (0000-00-00 00:00:00)",
                                  "format": "date-time",
                                  "example": "0000-00-00 00:00:00"
                                },
                                "tradeend_date": {
                                  "type": "string",
                                  "description": "교환 완료일 (0000-00-00 00:00:00)",
                                  "format": "date-time",
                                  "example": "0000-00-00 00:00:00"
                                },
                                "issue_status": {
                                  "type": "string",
                                  "description": "이슈 상태 코드 (<a href='/docs/guide/app/makeshop-code-list#A-2-3' target='_blank'>A.2.3</a> 참고)"
                                },
                                "provider_code": {
                                  "type": "string",
                                  "description": "공급사 코드"
                                },
                                "provider_name": {
                                  "type": "string",
                                  "description": "공급사명"
                                },
                                "provider_company_name": {
                                  "type": "string",
                                  "description": "공급사 회사명"
                                },
                                "trade_num": {
                                  "type": "string",
                                  "description": "교환시 원상품 품목번호"
                                },
                                "trade_intype": {
                                  "type": "string",
                                  "description": "배송전교환, 배송후교환 여부 (BEFORE,AFTER)"
                                },
                                "hscode": {
                                  "type": "string",
                                  "description": "수출입상품코드"
                                },
                                "free_deli": {
                                  "type": "string",
                                  "description": "무료 배송 여부 코드 (ALL : 전체, EACH : 개별)"
                                },
                                "supply_code": {
                                  "type": "string",
                                  "description": "사입처 코드"
                                },
                                "supply_name": {
                                  "type": "string",
                                  "description": "사입처"
                                },
                                "vat": {
                                  "type": "string",
                                  "description": "부가세 여부 (Y,N)"
                                },
                                "naver_pay_pid": {
                                  "type": "string",
                                  "description": "네이버 체크아웃 품목 번호"
                                },
                                "naver_pay_memo": {
                                  "type": "string",
                                  "description": "네이버 체크아웃 구매자 주문 메세지"
                                },
                                "talkcheck_pid": {
                                  "type": "string",
                                  "description": "카카오톡 체크아웃 상품 주문번호"
                                },
                                "maximage": {
                                  "type": "string",
                                  "description": "확대이미지"
                                },
                                "minimage": {
                                  "type": "string",
                                  "description": "상세이미지"
                                },
                                "tinyimage": {
                                  "type": "string",
                                  "description": "리스트/메인 이미지"
                                },
                                "deliveryInfo": {
                                  "type": "object",
                                  "description": "배송 정보",
                                  "properties": {
                                    "post": {
                                      "type": "string",
                                      "description": "우편번호"
                                    },
                                    "address": {
                                      "type": "string",
                                      "description": "주소"
                                    },
                                    "address2": {
                                      "type": "string",
                                      "description": "상세주소"
                                    },
                                    "deli_price": {
                                      "type": "string",
                                      "description": "배송비"
                                    },
                                    "add_deli_price": {
                                      "type": "string",
                                      "description": "추가 배송비"
                                    },
                                    "receiver": {
                                      "type": "string",
                                      "description": "수령인"
                                    },
                                    "receiver_mobile": {
                                      "type": "string",
                                      "description": "수령인 핸드폰"
                                    },
                                    "receiver_phone": {
                                      "type": "string",
                                      "description": "수령인 연락처"
                                    },
                                    "deli_type": {
                                      "type": "string",
                                      "description": "배송 종류 코드 (<a href='/docs/guide/app/makeshop-code-list#A-2-4' target='_blank'>A.2.4</a> 참고)"
                                    },
                                    "ems_code": {
                                      "type": "string",
                                      "description": "배송지 국가 코드"
                                    },
                                    "delicom": {
                                      "type": "string",
                                      "description": "택배사 코드"
                                    },
                                    "delicom_name": {
                                      "type": "string",
                                      "description": "택배사"
                                    },
                                    "delinum": {
                                      "type": "string",
                                      "description": "송장번호"
                                    },
                                    "delinum_date": {
                                      "type": "string",
                                      "description": "송장번호 입력일 (0000-00-00 00:00:00)",
                                      "format": "date-time",
                                      "example": "0000-00-00 00:00:00"
                                    },
                                    "deli_date": {
                                      "type": "string",
                                      "description": "배송일 (0000-00-00 00:00:00)",
                                      "format": "date-time",
                                      "example": "0000-00-00 00:00:00"
                                    },
                                    "delicomplete_date": {
                                      "type": "string",
                                      "description": "배송완료일 (0000-00-00 00:00:00)",
                                      "format": "date-time",
                                      "example": "0000-00-00 00:00:00"
                                    },
                                    "deliend_date": {
                                      "type": "string",
                                      "description": "거래완료일 (0000-00-00 00:00:00)",
                                      "format": "date-time",
                                      "example": "0000-00-00 00:00:00"
                                    },
                                    "hope_deli_s_date": {
                                      "type": "string",
                                      "description": "희망 배송 시작일 (0000-00-00 00:00:00)",
                                      "format": "date-time",
                                      "example": "0000-00-00 00:00:00"
                                    },
                                    "hope_deli_e_date": {
                                      "type": "string",
                                      "description": "희망 배송 종료일 (0000-00-00 00:00:00)",
                                      "format": "date-time",
                                      "example": "0000-00-00 00:00:00"
                                    },
                                    "deli_msg": {
                                      "type": "string",
                                      "description": "배송 메시지"
                                    }
                                  }
                                },
                                "product_bundle": {
                                  "type": "object",
                                  "description": "구성 상품 정보",
                                  "properties": {
                                    "basket_num": {
                                      "type": "string",
                                      "description": "품목번호"
                                    },
                                    "bundle_num": {
                                      "type": "string",
                                      "description": "구성상품번호"
                                    },
                                    "product_uid": {
                                      "type": "string",
                                      "description": "구성상품번호"
                                    },
                                    "prd_option_uid": {
                                      "type": "string",
                                      "description": "구성상품 옵션 코드"
                                    },
                                    "product_name": {
                                      "type": "string",
                                      "description": "구성상품명"
                                    },
                                    "bundle_stock": {
                                      "type": "string",
                                      "description": "구성상품 별 주문 수량"
                                    },
                                    "option_price": {
                                      "type": "string",
                                      "description": "구성상품 옵션 금액"
                                    },
                                    "option_type": {
                                      "type": "string",
                                      "description": "구성상품 옵션 종류"
                                    },
                                    "option_data": {
                                      "type": "string",
                                      "description": "구성상품 옵션"
                                    },
                                    "plus_price": {
                                      "type": "string",
                                      "description": "구성상품 추가 금액 (파워옵션 추가 금액형 타입의 옵션 금액)"
                                    }
                                  }
                                }
                              }
                            },
                            "example": {
                              "{key}": {
                                "num": "string",
                                "delivery_num": "string",
                                "brandcode": "string",
                                "category_name": "string",
                                "product_uid": "string",
                                "product_type": "string",
                                "pakcage_main": "string",
                                "prd_option_uid": "string",
                                "product_name": "string",
                                "product_cate1": "string",
                                "basket_status": "string",
                                "basket_stock": "string",
                                "sell_price": "string",
                                "product_price": "string",
                                "product_buyprice": "string",
                                "product_reserve": "string",
                                "option_price": "string",
                                "option_type": "string",
                                "option_data": "string",
                                "custom_option_data": "string",
                                "plus_price": "string",
                                "plus_reserve": "string",
                                "reserve_chk": "string",
                                "cancelend_date": "0000-00-00 00:00:00",
                                "returnend_date": "0000-00-00 00:00:00",
                                "tradeend_date": "0000-00-00 00:00:00",
                                "issue_status": "string",
                                "provider_code": "string",
                                "provider_name": "string",
                                "provider_company_name": "string",
                                "trade_num": "string",
                                "trade_intype": "string",
                                "hscode": "string",
                                "free_deli": "string",
                                "supply_code": "string",
                                "supply_name": "string",
                                "vat": "string",
                                "naver_pay_pid": "string",
                                "naver_pay_memo": "string",
                                "talkcheck_pid": "string",
                                "maximage": "string",
                                "minimage": "string",
                                "tinyimage": "string",
                                "deliveryInfo": {
                                  "post": "string",
                                  "address": "string",
                                  "address2": "string",
                                  "deli_price": "string",
                                  "add_deli_price": "string",
                                  "receiver": "string",
                                  "receiver_mobile": "string",
                                  "receiver_phone": "string",
                                  "deli_type": "string",
                                  "ems_code": "string",
                                  "delicom": "string",
                                  "delicom_name": "string",
                                  "delinum": "string",
                                  "delinum_date": "0000-00-00 00:00:00",
                                  "deli_date": "0000-00-00 00:00:00",
                                  "delicomplete_date": "0000-00-00 00:00:00",
                                  "deliend_date": "0000-00-00 00:00:00",
                                  "hope_deli_s_date": "0000-00-00 00:00:00",
                                  "hope_deli_e_date": "0000-00-00 00:00:00",
                                  "deli_msg": "string"
                                },
                                "product_bundle": {
                                  "basket_num": "string",
                                  "bundle_num": "string",
                                  "product_uid": "string",
                                  "prd_option_uid": "string",
                                  "product_name": "string",
                                  "bundle_stock": "string",
                                  "option_price": "string",
                                  "option_type": "string",
                                  "option_data": "string",
                                  "plus_price": "string"
                                }
                              }
                            }
                          },
                          "extension": {
                            "type": "array",
                            "description": "",
                            "items": {
                              "type": "object",
                              "properties": {
                                "basket_num": {
                                  "type": "string",
                                  "description": "상품 품목 번호 (0 : 주문서(주문서 전체 적용) 그외)"
                                },
                                "ext_type": {
                                  "type": "string",
                                  "description": "추가/할인 방식\n\nCOUPON : 쿠폰 할인 / 적립\n\nORDCOU : 쿠폰 할인 / 적립\n\nPRDCOU : 쿠폰 할인 / 적립\n\nGROUP : 그룹 할인 / 적립\n\nGROUPADD : 그룹 할인 / 적립\n\nGROUPPRD : 상품별 그룹 할인\n\nADDPRICE : 가격 추가\n\nCARDCMIS : 카드 결제시 수수료\n\nICONBARO : 아이콘 바로가기 할인/ 적립\n\nCASHDC : 현금결제시 바로 할인 / 적립ESCRCMIS : 에스크로 결제 수수료\n\nEMSINSUR : 해외배송 보험료\n\nPERIODDC : 기간할인\n\nADMIN : 관리자 가격 직접수정으로 인한 할인\n\nVAT : VAT 별도\n\nDELICOU : 배송비 쿠폰\n\nNMILEADD : 네이버마일리지 적립\n\nNMILEUSE : 네이버마일리지 사용\n\nPRDSET : 세트할인\n\nWHOLESAL : 도매그룹할인\n\nPOWERAPP : 파워앱\n\nOCBPOINT : OK캐쉬백 포인트 사용\n\nOCB_USE : OK 캐쉬백 사용\n\nOCB_SAVE : OK 캐쉬백 적립RMPAY : 간단가입 할인\n\nREPLACE : 사은품 적립금\n\nRESERVES : 적립금 즉시할인\n\nGIFTMILE : 사은품 추가 적립\n\nGIFTSALE : 사은품 추가 할인\n\nSUBS : 정기배송 할인\n\nPMPRDDC : 프리미엄멤버십 할인\n\nLINK : 제휴사 혜택\n\nBULK : 대량구매할인"
                                },
                                "ext_title": {
                                  "type": "string",
                                  "description": "추가/할인명"
                                },
                                "ext_price": {
                                  "type": "string",
                                  "description": "추가/할인 금액"
                                },
                                "ext_reserve": {
                                  "type": "string",
                                  "description": "추가 적립금"
                                },
                                "ext_status": {
                                  "type": "string",
                                  "description": "적용 여부 (Y,N)"
                                },
                                "couponnum": {
                                  "type": "string",
                                  "description": "쿠폰번호"
                                }
                              }
                            }
                          },
                          "cancel": {
                            "type": "array",
                            "description": "요청 전문에 fields=cancel추가 시 출력됩니다.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "basket_num": {
                                  "type": "string",
                                  "description": "상품 품목 번호"
                                },
                                "reason": {
                                  "type": "string",
                                  "description": "취소 사유"
                                },
                                "detail": {
                                  "type": "string",
                                  "description": "취소 사유 상세"
                                },
                                "request_date": {
                                  "type": "string",
                                  "description": "취소 요청일 (0000-00-00)",
                                  "format": "date"
                                },
                                "completed_date": {
                                  "type": "string",
                                  "description": "취소 완료일 (0000-00-00)",
                                  "format": "date"
                                }
                              }
                            }
                          },
                          "return": {
                            "type": "array",
                            "description": "",
                            "items": {
                              "type": "object",
                              "properties": {
                                "basket_num": {
                                  "type": "string",
                                  "description": "상품 품목 번호"
                                },
                                "post": {
                                  "type": "string",
                                  "description": "우편번호"
                                },
                                "address": {
                                  "type": "string",
                                  "description": "(반품)주소"
                                },
                                "address2": {
                                  "type": "string",
                                  "description": "(반품)추가 주소"
                                },
                                "reason": {
                                  "type": "string",
                                  "description": "반품 사유"
                                },
                                "detail": {
                                  "type": "string",
                                  "description": "반품 사유 상세"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "이름"
                                },
                                "request_date": {
                                  "type": "string",
                                  "description": "반품 요청일 (0000-00-00)",
                                  "format": "date"
                                },
                                "completed_date": {
                                  "type": "string",
                                  "description": "반품 완료일 (0000-00-00)",
                                  "format": "date"
                                }
                              }
                            }
                          },
                          "trade": {
                            "type": "array",
                            "description": "",
                            "items": {
                              "type": "object",
                              "properties": {
                                "basket_num": {
                                  "type": "string",
                                  "description": "상품 품목 번호"
                                },
                                "reason": {
                                  "type": "string",
                                  "description": "교환 사유"
                                },
                                "detail": {
                                  "type": "string",
                                  "description": "교환 사유 상세"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "이름"
                                },
                                "phone": {
                                  "type": "string",
                                  "description": "전화번호"
                                },
                                "mobile": {
                                  "type": "string",
                                  "description": "휴대폰번호"
                                },
                                "post": {
                                  "type": "string",
                                  "description": "우편번호"
                                },
                                "address": {
                                  "type": "string",
                                  "description": "교환 재발송 주소"
                                },
                                "address2": {
                                  "type": "string",
                                  "description": "교환 재발송 추가 주소"
                                },
                                "memo": {
                                  "type": "string",
                                  "description": "전달내용"
                                }
                              }
                            }
                          },
                          "memo": {
                            "type": "array",
                            "description": "",
                            "items": {
                              "type": "object",
                              "properties": {
                                "admin_id": {
                                  "type": "string",
                                  "description": "담당자 아이디"
                                },
                                "reg_date": {
                                  "type": "string",
                                  "description": "작성일 (0000-00-00 00:00:00)",
                                  "format": "date-time",
                                  "example": "0000-00-00 00:00:00"
                                },
                                "mod_date": {
                                  "type": "string",
                                  "description": "수정일 (0000-00-00 00:00:00)",
                                  "format": "date-time",
                                  "example": "0000-00-00 00:00:00"
                                },
                                "content": {
                                  "type": "string",
                                  "description": "내용"
                                },
                                "label": {
                                  "type": "string",
                                  "description": "구분 (I/B, O/B)"
                                },
                                "status": {
                                  "type": "string",
                                  "description": "처리상태"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "구분 (기본메모의 경우 type 값은 리턴되지 않습니다.\n\n[환불메모, 환불내역, 반품메모, 반품요청메모,\n\n반품고객메모, 반품요청고객메모, 교환메모,\n\n교환고객메모, 배송전교환고객메모, 물류메모,\n\n취소메모, 취소고객메모, 배송지변경])"
                                }
                              }
                            }
                          },
                          "refund": {
                            "type": "array",
                            "description": "",
                            "items": {
                              "type": "object",
                              "properties": {
                                "basket_num": {
                                  "type": "string",
                                  "description": "상품 품목 번호 (콤마로 구분)"
                                },
                                "refund_bankname": {
                                  "type": "string",
                                  "description": "환불 은행"
                                },
                                "refund_accounter": {
                                  "type": "string",
                                  "description": "환불 예금주"
                                },
                                "refund_account": {
                                  "type": "string",
                                  "description": "환불 계좌"
                                },
                                "refund_status": {
                                  "type": "string",
                                  "description": "환불 상태 (<a href='/docs/guide/app/makeshop-code-list#A-2-5' target='_blank'>A.2.5</a> 참고)"
                                },
                                "refund_type": {
                                  "type": "string",
                                  "description": "환불 타입"
                                },
                                "refund_status_date": {
                                  "type": "string",
                                  "description": "환불 상태 변경 시간 (0000-00-00 00:00:00)",
                                  "format": "date-time",
                                  "example": "0000-00-00 00:00:00"
                                },
                                "return_deli_price": {
                                  "type": "string",
                                  "description": "반송비"
                                },
                                "re_deli_price": {
                                  "type": "string",
                                  "description": "재발송 배송비"
                                },
                                "refund_used_emoney": {
                                  "type": "string",
                                  "description": "사용한 예치금 환불"
                                },
                                "refund_used_reserve": {
                                  "type": "string",
                                  "description": "사용한 적립금 환불\t"
                                },
                                "refund_emoney": {
                                  "type": "string",
                                  "description": "예치금 환원액"
                                },
                                "refund_reserve": {
                                  "type": "string",
                                  "description": "적립금 환원액"
                                },
                                "refund_total_price": {
                                  "type": "string",
                                  "description": "총 환불액"
                                },
                                "refund_price": {
                                  "type": "string",
                                  "description": "실 환불액"
                                },
                                "refund_method": {
                                  "type": "string",
                                  "description": "환불수단 (B: 무통장입금, C: 카드취소, H: 핸드폰취소, T: 계좌이체취소, R: 적립금, E: 예치금)"
                                },
                                "refund_reason": {
                                  "type": "string",
                                  "description": "환불사유"
                                }
                              }
                            }
                          },
                          "pay_history": {
                            "type": "array",
                            "description": "",
                            "items": {
                              "type": "object",
                              "properties": {
                                "pay_date": {
                                  "type": "string",
                                  "description": "결제 일자 (0000-00-00 00:00:00)",
                                  "format": "date-time",
                                  "example": "0000-00-00 00:00:00"
                                },
                                "pay_type": {
                                  "type": "string",
                                  "description": "결제 조건"
                                },
                                "total_price": {
                                  "type": "string",
                                  "description": "총 상품가액"
                                },
                                "deli_price": {
                                  "type": "string",
                                  "description": "배송비"
                                },
                                "discount_price": {
                                  "type": "string",
                                  "description": "할인 금액"
                                },
                                "add_price": {
                                  "type": "string",
                                  "description": "추가 금액"
                                },
                                "order_price": {
                                  "type": "string",
                                  "description": "주문서 금액"
                                },
                                "pay_price": {
                                  "type": "string",
                                  "description": "결제 금액"
                                },
                                "used_reserve": {
                                  "type": "string",
                                  "description": "사용 적립금"
                                },
                                "used_emoney": {
                                  "type": "string",
                                  "description": "사용 예치금"
                                },
                                "paymethod": {
                                  "type": "string",
                                  "description": "결제 방법 (<a href='/docs/guide/app/makeshop-code-list#A-1-2' target='_blank'>A.1.2</a> 참고)"
                                },
                                "memo": {
                                  "type": "string",
                                  "description": "메모"
                                }
                              }
                            }
                          }
                        }
                      },
                      "example": {
                        "{key}": {
                          "order": {
                            "ordernum": "string",
                            "order_date": "0000-00-00 00:00:00",
                            "is_member": "string",
                            "start_price": "string",
                            "pay_price": "string",
                            "deli_quick": "string",
                            "deli_price": "string",
                            "deli_price_type": "string",
                            "order_status": "string",
                            "repay_price": "string",
                            "repay_date": "0000-00-00 00:00:00",
                            "sender": "string",
                            "phone": "string",
                            "mobile": "string",
                            "email": "string",
                            "pay_path": "string",
                            "id": "string",
                            "mem_type": "string",
                            "used_emoney": "string",
                            "used_reserve": "string",
                            "group_name": "string",
                            "add_info": {},
                            "cash_receipt": "string",
                            "cash_receipt_type": "string",
                            "cash_receipt_status": "string",
                            "tax_invoice": "string",
                            "tax_invoice_status": "string",
                            "reserve": "string",
                            "memo": [
                              "string"
                            ],
                            "pos": "string",
                            "link_id": "string",
                            "link_url": "string",
                            "barcode": "string",
                            "barcode_url": "string",
                            "naver_pay_oid": "string",
                            "talkcheck_oid": "string",
                            "total_product_price": "string",
                            "safe_number_type": "string",
[...]
