{
  "openapi": "3.0.3",
  "info": {
    "title": "Makeshop Shop API — 상품 (Product)",
    "version": "v1",
    "x-source": "https://developer.makeshop.co.kr/docs/api/product",
    "x-extracted": "2026-06-03 (Docusaurus chunk decode)"
  },
  "servers": [
    {
      "url": "https://connect.makeshop.co.kr",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/api/v1/{shopId}/brand": {
      "get": {
        "operationId": "get-brand",
        "description": "브랜드 또는 제조사를 조회합니다.",
        "tags": [
          "브랜드"
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "description": "조회 리스트",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "타입"
                          },
                          "brand_id": {
                            "type": "string",
                            "description": "대분류"
                          },
                          "brand_mid": {
                            "type": "string",
                            "description": "중분류"
                          },
                          "brand_sid": {
                            "type": "string",
                            "description": "소분류"
                          },
                          "name": {
                            "type": "string",
                            "description": "브랜드명"
                          },
                          "display_product_count": {
                            "type": "string",
                            "description": "상품 진열 개수"
                          },
                          "sort": {
                            "type": "string",
                            "description": "브랜드 정렬"
                          },
                          "order_by_type": {
                            "type": "string",
                            "description": "진열상품 정렬 (REG_TOP : 관리자 지정 순(최신 상단), REG_BOTTOM : 관리자 지정 순(최신 하단), VIEWCNT : 인기 상품 순, REGDATE : 최신 순, PRICE_DESC : 높은 가격 순, PRICE_ASC : 낮은 가격 순, PRD_NAME : 상품명 순)"
                          },
                          "display": {
                            "type": "string",
                            "description": "노출"
                          },
                          "keyword": {
                            "type": "array",
                            "description": "키워드 (최하위 분류에서 출력)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "child": {
                            "type": "array",
                            "description": "하위 분류 (하위 분류가 존재하지 않을 시 미출력)",
                            "items": {
                              "type": "object",
                              "properties": {
                                "brand_id": {
                                  "type": "string",
                                  "description": "대분류"
                                },
                                "brand_mid": {
                                  "type": "string",
                                  "description": "중분류"
                                },
                                "brand_sid": {
                                  "type": "string",
                                  "description": "소분류"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "브랜드명"
                                },
                                "sort": {
                                  "type": "string",
                                  "description": "브랜드 정렬"
                                },
                                "order_by_type": {
                                  "type": "string",
                                  "description": "진열상품 정렬 (VIEWCNT : 인기 상품 순, 하위분류 값 고정)"
                                },
                                "display": {
                                  "type": "string",
                                  "description": "노출 (노출 : Y, 노출안함 : N)"
                                },
                                "keyword": {
                                  "type": "array",
                                  "description": "키워드 (최하위 분류에서 출력)",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "child": {
                                  "type": "array",
                                  "description": "하위 분류 (하위 분류가 존재하지 않을 시 미출력)",
                                  "items": {
                                    "type": "array",
                                    "items": {}
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "출력된 검색 수"
                    },
                    "return_code": {
                      "type": "string",
                      "description": "결과 <a href='/docs/guide/app/makeshop-code-list#B-1-1' target='_blank'>코드정보</a>"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "shopId",
            "in": "path",
            "required": true,
            "description": "상점Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchType",
            "in": "query",
            "required": false,
            "description": "검색 구분 (브랜드 : BRAND, 제조사 : MAKER)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "상품",
        "extensions": [
          {
            "key": "x-scope",
            "value": "상품"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "postman": {
          "name": "브랜드/제조사 조회",
          "description": {
            "content": "브랜드 또는 제조사를 조회합니다.",
            "type": "text/plain"
          },
          "url": {
            "path": [
              "api",
              "v1",
              ":shopId",
              "brand"
            ],
            "host": [
              "{{baseUrl}}"
            ],
            "query": [
              {
                "disabled": false,
                "description": {
                  "content": "검색 구분 (브랜드 : BRAND, 제조사 : MAKER)",
                  "type": "text/plain"
                },
                "key": "searchType",
                "value": ""
              }
            ],
            "variable": [
              {
                "disabled": false,
                "description": {
                  "content": "(Required) 상점Id",
                  "type": "text/plain"
                },
                "type": "any",
                "value": "",
                "key": "shopId"
              }
            ]
          },
          "header": [
            {
              "key": "Accept",
              "value": "application/json"
            }
          ],
          "method": "GET"
        },
        "summary": "브랜드/제조사 조회"
      }
    },
    "/api/v1/{shopId}/brand_product": {
      "get": {
        "operationId": "get-brand_product",
        "description": "검색한 브랜드에 해당되는 상품리스트를 조회합니다.",
        "tags": [
          "브랜드"
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uid": {
                            "type": "string",
                            "description": "상품 번호"
                          },
                          "product_name": {
                            "type": "string",
                            "description": "상품 이름"
                          },
                          "display": {
                            "type": "string",
                            "description": "노출여부. Y,N"
                          },
                          "quantity": {
                            "type": "string",
                            "description": "재고"
                          },
                          "reg_date": {
                            "type": "string",
                            "description": "0000-00-00 00:00:00 형식",
                            "format": "date-time",
                            "example": "0000-00-00 00:00:00"
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "string",
                      "description": "출력된 검색 수"
                    },
                    "totalPage": {
                      "type": "string",
                      "description": "총 페이지 수"
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 검색 수"
                    },
                    "return_code": {
                      "type": "string",
                      "description": "성공시 0000, 실패시 error code 출력 <a href='/docs/guide/app/makeshop-code-list#B-1-1' target='_blank'>코드정보</a>"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "shopId",
            "in": "path",
            "required": true,
            "description": "상점Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_type",
            "in": "query",
            "required": false,
            "description": "상품 검색 타입. ALL - 전체상품(default), PROMOTION - 대표상품",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brand_id",
            "in": "query",
            "required": false,
            "description": "브랜드 대분류",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "brand_mid",
            "in": "query",
            "required": false,
            "description": "브랜드 중분류",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "brand_sid",
            "in": "query",
            "required": false,
            "description": "브랜드 소분류",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-scope": "상품",
        "extensions": [
          {
            "key": "x-scope",
            "value": "상품"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "postman": {
          "name": "브랜드별 상품 조회",
          "description": {
            "content": "검색한 브랜드에 해당되는 상품리스트를 조회합니다.",
            "type": "text/plain"
          },
          "url": {
            "path": [
              "api",
              "v1",
              ":shopId",
              "brand_product"
            ],
            "host": [
              "{{baseUrl}}"
            ],
            "query": [
              {
                "disabled": false,
                "description": {
                  "content": "상품 검색 타입. ALL - 전체상품(default), PROMOTION - 대표상품",
                  "type": "text/plain"
                },
                "key": "product_type",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "브랜드 대분류",
                  "type": "text/plain"
                },
                "key": "brand_id",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "브랜드 중분류",
                  "type": "text/plain"
                },
                "key": "brand_mid",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "브랜드 소분류",
                  "type": "text/plain"
                },
                "key": "brand_sid",
                "value": ""
              }
            ],
            "variable": [
              {
                "disabled": false,
                "description": {
                  "content": "(Required) 상점Id",
                  "type": "text/plain"
                },
                "type": "any",
                "value": "",
                "key": "shopId"
              }
            ]
          },
          "header": [
            {
              "key": "Accept",
              "value": "application/json"
            }
          ],
          "method": "GET"
        },
        "summary": "브랜드별 상품 조회"
      }
    },
    "/api/v1/{shopId}/cart_free": {
      "get": {
        "operationId": "get-cart_free",
        "description": "카트프리 통계 정보를 조회합니다.",
        "tags": [
          "상품"
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "return_code": {
                      "type": "string",
                      "description": "결과 <a href='/docs/guide/app/makeshop-code-list#B-1-1' target='_blank'>코드정보</a>"
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 검색 수"
                    },
                    "totalPage": {
                      "type": "string",
                      "description": "총 페이지 수"
                    },
                    "page": {
                      "type": "string",
                      "description": "현재 페이지"
                    },
                    "count": {
                      "type": "string",
                      "description": "조회된 리스트 수"
                    },
                    "list-case1": {
                      "type": "object",
                      "description": "search_type:product일때 리턴 (상품번호를 기준(키)으로 리턴) (list-case1 => list)",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "uid": {
                            "type": "string",
                            "description": "상품번호"
                          },
                          "product_name": {
                            "type": "string",
                            "description": "상품명"
                          },
                          "USER": {
                            "type": "array",
                            "description": "유저 통계",
                            "items": {
                              "type": "object",
                              "properties": {
                                "PC_VIEW": {
                                  "type": "string",
                                  "description": "PC 조회수"
                                },
                                "MOBILE_VIEW": {
                                  "type": "string",
                                  "description": "모바일 조회수"
                                },
                                "PC_ORDER": {
                                  "type": "string",
                                  "description": "PC 주문수"
                                },
                                "MOBILE_ORDER": {
                                  "type": "string",
                                  "description": "모바일 주문수"
                                }
                              }
                            }
                          },
                          "pc_price": {
                            "type": "string",
                            "description": "PC 결제 금액"
                          },
                          "mobile_price": {
                            "type": "string",
                            "description": "모바일 결제 금액"
                          },
                          "total_price": {
                            "type": "string",
                            "description": "총 결제 금액"
                          }
                        }
                      },
                      "example": {
                        "{key}": {
                          "uid": "string",
                          "product_name": "string",
                          "USER": [
                            {
                              "PC_VIEW": "string",
                              "MOBILE_VIEW": "string",
                              "PC_ORDER": "string",
                              "MOBILE_ORDER": "string"
                            }
                          ],
                          "pc_price": "string",
                          "mobile_price": "string",
                          "total_price": "string"
                        }
                      }
                    },
                    "list-case2": {
                      "type": "object",
                      "description": "search_type:user 일때 리턴 (list-case2 => list)",
                      "properties": {
                        "view_count": {
                          "type": "string",
                          "description": "조회수"
                        },
                        "order_count": {
                          "type": "string",
                          "description": "주문수"
                        },
                        "order_price": {
                          "type": "string",
                          "description": "주문금액"
                        },
                        "date_info": {
                          "type": "object",
                          "description": "날짜를 기준(키)로 리턴 (0000-00-00)",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "USER": {
                                "type": "array",
                                "description": "유저 통계",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "PC_PRICE": {
                                      "type": "string",
                                      "description": "PC 결제금액"
                                    },
                                    "MOBILE_PRICE": {
                                      "type": "string",
                                      "description": "모바일 결제금액"
                                    }
                                  }
                                }
                              },
                              "TOTAL_PRICE": {
                                "type": "string",
                                "description": "총 결제금액"
                              }
                            }
                          },
                          "example": {
                            "{key}": {
                              "USER": [
                                {
                                  "PC_PRICE": "string",
                                  "MOBILE_PRICE": "string"
                                }
                              ],
                              "TOTAL_PRICE": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "shopId",
            "in": "path",
            "required": true,
            "description": "상점Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "검색 한도. MAX: 5000 (default)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "검색할 페이지. default: 1",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InquiryTimeFrom",
            "in": "query",
            "required": true,
            "description": "검색 시작 일자. 0000-00-00 00:00:00",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "0000-00-00 00:00:00"
            }
          },
          {
            "name": "InquiryTimeTo",
            "in": "query",
            "required": false,
            "description": "검색 종료 일자. 0000-00-00, 검색 시작 일자만 있는 경우 종료 일자는 24시간이 추가된 일자로 검색",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "search_type",
            "in": "query",
            "required": false,
            "description": "조회 타입. product : 상품 분석, user : 이용자 분석 (default : product)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "상품",
        "extensions": [
          {
            "key": "x-scope",
            "value": "상품"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "postman": {
          "name": "카트프리 통계 조회",
          "description": {
            "content": "카트프리 통계 정보를 조회합니다.",
            "type": "text/plain"
          },
          "url": {
            "path": [
              "api",
              "v1",
              ":shopId",
              "cart_free"
            ],
            "host": [
              "{{baseUrl}}"
            ],
            "query": [
              {
                "disabled": false,
                "description": {
                  "content": "검색 한도. MAX: 5000 (default)",
                  "type": "text/plain"
                },
                "key": "limit",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "검색할 페이지. default: 1",
                  "type": "text/plain"
                },
                "key": "page",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "(Required) 검색 시작 일자. 0000-00-00 00:00:00",
                  "type": "text/plain"
                },
                "key": "InquiryTimeFrom",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "검색 종료 일자. 0000-00-00, 검색 시작 일자만 있는 경우 종료 일자는 24시간이 추가된 일자로 검색",
                  "type": "text/plain"
                },
                "key": "InquiryTimeTo",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "조회 타입. product : 상품 분석, user : 이용자 분석 (default : product)",
                  "type": "text/plain"
                },
                "key": "search_type",
                "value": ""
              }
            ],
            "variable": [
              {
                "disabled": false,
                "description": {
                  "content": "(Required) 상점Id",
                  "type": "text/plain"
                },
                "type": "any",
                "value": "",
                "key": "shopId"
              }
            ]
          },
          "header": [
            {
              "key": "Accept",
              "value": "application/json"
            }
          ],
          "method": "GET"
        },
        "summary": "카트프리 통계 조회"
      }
    },
    "/api/v1/{shopId}/category": {
      "get": {
        "operationId": "get-category",
        "description": "카테고리 정보를 조회합니다.",
        "tags": [
          "상품 진열"
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "description": "조회 리스트",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cate1": {
                            "type": "string",
                            "description": "대분류"
                          },
                          "cate2": {
                            "type": "string",
                            "description": "중분류"
                          },
                          "cate3": {
                            "type": "string",
                            "description": "소분류"
                          },
                          "cate_type": {
                            "type": "string",
                            "description": "분류타입 (<a href='/docs/guide/app/makeshop-code-list#A-6-1' target='_blank'>A.6.1</a> 참고)"
                          },
                          "catename": {
                            "type": "string",
                            "description": "카테고리명"
                          },
                          "m_catename": {
                            "type": "string",
                            "description": "모바일 카테고리명"
                          },
                          "display": {
                            "type": "string",
                            "description": "노출여부 (YES, NO)"
                          },
                          "m_display": {
                            "type": "string",
                            "description": "모바일 노출여부 (YES, NO)"
                          },
                          "search_display": {
                            "type": "string",
                            "description": "검색시 상품노출 (YES, NO)"
                          },
                          "smart_page_display": {
                            "type": "string",
                            "description": "스마트마이페이지 교환 노출 (YES, NO)"
                          },
                          "sale_display": {
                            "type": "string",
                            "description": "기간할인 상품 노출 (YES, NO)"
                          },
                          "access": {
                            "type": "string",
                            "description": "접근권한 (ALL : 전체, USER : 회원, ADU : 성인 인증 회원, LEVEL : 그룹 등급, GROUP : 회원 그룹)"
                          },
                          "access_level": {
                            "type": "string",
                            "description": "접근 권한 그룹 등급 (그룹 등급 접근 권한인 경우 등급 출력)"
                          },
                          "access_group_id": {
                            "type": "string",
                            "description": "회원 그룹 (회원 그룹별 권한인 경우 그룹 group_id 출력)"
                          },
                          "member_access": {
                            "type": "string",
                            "description": "접근 회원 구분 (ALL : 회원 구분 없음, PERSON : 개인회원, COMPANY : 기업회원)"
                          },
                          "member_order_limit": {
                            "type": "string",
                            "description": "아이디 당 주문 제한 수"
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "string",
                      "description": "출력된 검색 수"
                    },
                    "return_code": {
                      "type": "string",
                      "description": "결과 <a href='/docs/guide/app/makeshop-code-list#B-1-1' target='_blank'>코드정보</a>"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "shopId",
            "in": "path",
            "required": true,
            "description": "상점Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cate1",
            "in": "query",
            "required": false,
            "description": "대분류",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cate2",
            "in": "query",
            "required": false,
            "description": "중분류",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cate3",
            "in": "query",
            "required": false,
            "description": "소분류",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "상품",
        "extensions": [
          {
            "key": "x-scope",
            "value": "상품"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "postman": {
          "name": "카테고리 조회",
          "description": {
            "content": "카테고리 정보를 조회합니다.",
            "type": "text/plain"
          },
          "url": {
            "path": [
              "api",
              "v1",
              ":shopId",
              "category"
            ],
            "host": [
              "{{baseUrl}}"
            ],
            "query": [
              {
                "disabled": false,
                "description": {
                  "content": "대분류",
                  "type": "text/plain"
                },
                "key": "cate1",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "중분류",
                  "type": "text/plain"
                },
                "key": "cate2",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "소분류",
                  "type": "text/plain"
                },
                "key": "cate3",
                "value": ""
              }
            ],
            "variable": [
              {
                "disabled": false,
                "description": {
                  "content": "(Required) 상점Id",
                  "type": "text/plain"
                },
                "type": "any",
                "value": "",
                "key": "shopId"
              }
            ]
          },
          "header": [
            {
              "key": "Accept",
              "value": "application/json"
            }
          ],
          "method": "GET"
        },
        "summary": "카테고리 조회"
      }
    },
    "/api/v1/{shopId}/category_display_products": {
      "get": {
        "operationId": "get-category_display_products",
        "description": "분류별 진열 상품 리스트를 조회합니다.",
        "tags": [
          "상품 진열"
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "return_code": {
                      "type": "string",
                      "description": "결과 <a href='/docs/guide/app/makeshop-code-list#B-1-1' target='_blank'>코드정보</a>"
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 검색 수"
                    },
                    "totalPage": {
                      "type": "string",
                      "description": "총 페이지 수"
                    },
                    "page": {
                      "type": "string",
                      "description": "현재 페이지"
                    },
                    "count": {
                      "type": "string",
                      "description": "조회된 리스트 수"
                    },
                    "list": {
                      "type": "array",
                      "description": "조회 리스트",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uid": {
                            "type": "string",
                            "description": "상품 번호"
                          },
                          "product_name": {
                            "type": "string",
                            "description": "상품명"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "shopId",
            "in": "path",
            "required": true,
            "description": "상점Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "virtual",
            "in": "query",
            "required": false,
            "description": "가상 분류 여부",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cate1",
            "in": "query",
            "required": false,
            "description": "대분류",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cate2",
            "in": "query",
            "required": false,
            "description": "중분류",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cate3",
            "in": "query",
            "required": false,
            "description": "소분류",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sell_accept",
            "in": "query",
            "required": false,
            "description": "구매 가능 여부. Y : 판매 불가능 상품 제외, N : 판매 불가능 상품 포함, (Default : N)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "soldout",
            "in": "query",
            "required": false,
            "description": "품절 여부. Y : 품절 상품 제외, N : 품절 상품 포함, (Default : N)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "display_type",
            "in": "query",
            "required": false,
            "description": "노출 여부. Y : 진열 상품, N : 미진열 상품 포함, (Default : N)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "검색 한도. MAX : 3000 (default)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "검색할 페이지",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "상품",
        "extensions": [
          {
            "key": "x-scope",
            "value": "상품"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "postman": {
          "name": "분류별 진열 상품 조회",
          "description": {
            "content": "분류별 진열 상품 리스트를 조회합니다.",
            "type": "text/plain"
          },
          "url": {
            "path": [
              "api",
              "v1",
              ":shopId",
              "category_display_products"
            ],
            "host": [
              "{{baseUrl}}"
            ],
            "query": [
              {
                "disabled": false,
                "description": {
                  "content": "가상 분류 여부",
                  "type": "text/plain"
                },
                "key": "virtual",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "대분류",
                  "type": "text/plain"
                },
                "key": "cate1",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "중분류",
                  "type": "text/plain"
                },
                "key": "cate2",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "소분류",
                  "type": "text/plain"
                },
                "key": "cate3",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "구매 가능 여부. Y : 판매 불가능 상품 제외, N : 판매 불가능 상품 포함, (Default : N)",
                  "type": "text/plain"
                },
                "key": "sell_accept",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "품절 여부. Y : 품절 상품 제외, N : 품절 상품 포함, (Default : N)",
                  "type": "text/plain"
                },
                "key": "soldout",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "노출 여부. Y : 진열 상품, N : 미진열 상품 포함, (Default : N)",
                  "type": "text/plain"
                },
                "key": "display_type",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "검색 한도. MAX : 3000 (default)",
                  "type": "text/plain"
                },
                "key": "limit",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "검색할 페이지",
                  "type": "text/plain"
                },
                "key": "page",
                "value": ""
              }
            ],
            "variable": [
              {
                "disabled": false,
                "description": {
                  "content": "(Required) 상점Id",
                  "type": "text/plain"
                },
                "type": "any",
                "value": "",
                "key": "shopId"
              }
            ]
          },
          "header": [
            {
              "key": "Accept",
              "value": "application/json"
            }
          ],
          "method": "GET"
        },
        "summary": "분류별 진열 상품 조회"
      }
    },
    "/api/v1/{shopId}/delete_product": {
      "get": {
        "operationId": "get-delete_product",
        "description": "삭제 상품 리스트를 조회합니다.",
        "tags": [
          "상품"
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "return_code": {
                      "type": "string",
                      "description": "결과 <a href='/docs/guide/app/makeshop-code-list#B-1-1' target='_blank'>코드정보</a>"
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 검색 수"
                    },
                    "totalPage": {
                      "type": "string",
                      "description": "총 페이지 수"
                    },
                    "page": {
                      "type": "string",
                      "description": "검색 페이지"
                    },
                    "count": {
                      "type": "string",
                      "description": "출력된 검색 수"
                    },
                    "list": {
                      "type": "array",
                      "description": "조회 리스트",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uid": {
                            "type": "string",
                            "description": "상품 번호"
                          },
                          "brandcode": {
                            "type": "string",
                            "description": "상품코드"
                          },
                          "product_name": {
                            "type": "string",
                            "description": "상품명"
                          },
                          "reg_date": {
                            "type": "string",
                            "description": "등록일 (0000-00-00 00:00:00)",
                            "format": "date-time",
                            "example": "0000-00-00 00:00:00"
                          },
                          "delete_date": {
                            "type": "string",
                            "description": "삭제일 (0000-00-00 00:00:00)",
                            "format": "date-time",
                            "example": "0000-00-00 00:00:00"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "shopId",
            "in": "path",
            "required": true,
            "description": "상점Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InquiryTimeFrom",
            "in": "query",
            "required": true,
            "description": "검색 시작 일자 (0000-00-00 00:00:00)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "0000-00-00 00:00:00"
            }
          },
          {
            "name": "InquiryTimeTo",
            "in": "query",
            "required": false,
            "description": "검색 종료 일자 (0000-00-00 00:00:00 최대 30일 조회 가능)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "0000-00-00 00:00:00"
            }
          },
          {
            "name": "uid",
            "in": "query",
            "required": false,
            "description": "상품 번호 (상품번호 조회 시 검색일자 무시)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "검색 한도. MAX : 5000 (default)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "검색할 페이지",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "상품",
        "extensions": [
          {
            "key": "x-scope",
            "value": "상품"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "postman": {
          "name": "삭제 상품 조회",
          "description": {
            "content": "삭제 상품 리스트를 조회합니다.",
            "type": "text/plain"
          },
          "url": {
            "path": [
              "api",
              "v1",
              ":shopId",
              "delete_product"
            ],
            "host": [
              "{{baseUrl}}"
            ],
            "query": [
              {
                "disabled": false,
                "description": {
                  "content": "(Required) 검색 시작 일자 (0000-00-00 00:00:00)",
                  "type": "text/plain"
                },
                "key": "InquiryTimeFrom",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "검색 종료 일자 (0000-00-00 00:00:00 최대 30일 조회 가능)",
                  "type": "text/plain"
                },
                "key": "InquiryTimeTo",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "상품 번호 (상품번호 조회 시 검색일자 무시)",
                  "type": "text/plain"
                },
                "key": "uid",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "검색 한도. MAX : 5000 (default)",
                  "type": "text/plain"
                },
                "key": "limit",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "검색할 페이지",
                  "type": "text/plain"
                },
                "key": "page",
                "value": ""
              }
            ],
            "variable": [
              {
                "disabled": false,
                "description": {
                  "content": "(Required) 상점Id",
                  "type": "text/plain"
                },
                "type": "any",
                "value": "",
                "key": "shopId"
              }
            ]
          },
          "header": [
            {
              "key": "Accept",
              "value": "application/json"
            }
          ],
          "method": "GET"
        },
        "summary": "삭제 상품 조회"
      }
    },
    "/api/v1/{shopId}/discount": {
      "get": {
        "operationId": "get-discount",
        "description": "상품 기간 할인 정보를 조회합니다.",
        "tags": [
          "상품"
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "return_code": {
                      "type": "string",
                      "description": "결과 <a href='/docs/guide/app/makeshop-code-list#B-1-1' target='_blank'>코드정보</a>"
                    },
                    "list": {
                      "type": "array",
                      "description": "조회 리스트",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uid": {
                            "type": "string",
                            "description": "기간할인 ID"
                          },
                          "sale_type": {
                            "type": "string",
                            "description": "new : 신상품 할인, term : 기간 할인, rebuy   : 리바이 할인"
                          },
                          "title": {
                            "type": "string",
                            "description": "할인명"
                          },
                          "user_type": {
                            "type": "string",
                            "description": "구매 권한 (Y : 전체 구매 가능, N : 회원만 구매 가능)"
                          },
                          "device": {
                            "type": "string",
                            "description": "버전별 사용 (PC, MOBILE)"
                          },
                          "discount_price": {
                            "type": "string",
                            "description": "할인"
                          },
                          "unit": {
                            "type": "string",
                            "description": "할인단위. price : 원단위 할인 (ex. 500원 할인), percent : % 할인 (ex. 10% 할인)"
                          },
                          "point": {
                            "type": "string",
                            "description": "신상품 할인 시점 (reg : 상품 등록일, mod : 상품 수정일,mod : 상품 최근 노출일)"
                          },
                          "period": {
                            "type": "string",
                            "description": "신상품 할인 적용 기간 또는 날짜"
                          },
                          "period_type": {
                            "type": "string",
                            "description": "신상품 할인 방식 (date : 일, time : 시간)"
                          },
                          "coupon_unabled": {
                            "type": "string",
                            "description": "쿠폰 사용 결제 불가 (Y : 쿠폰 사용 결제 불가능, N : 쿠폰 사용 결제 가능)"
                          },
                          "start_date": {
                            "type": "string",
                            "description": "할인 시작일 (0000-00-00 00:00:00)",
                            "format": "date-time",
                            "example": "0000-00-00 00:00:00"
                          },
                          "end_date": {
                            "type": "string",
                            "description": "할인 종료일 (0000-00-00 00:00:00)",
                            "format": "date-time",
                            "example": "0000-00-00 00:00:00"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "shopId",
            "in": "path",
            "required": true,
            "description": "상점Id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "상품",
        "extensions": [
          {
            "key": "x-scope",
            "value": "상품"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "postman": {
          "name": "상품 기간 할인 조회",
          "description": {
            "content": "상품 기간 할인 정보를 조회합니다.",
            "type": "text/plain"
          },
          "url": {
            "path": [
              "api",
              "v1",
              ":shopId",
              "discount"
            ],
            "host": [
              "{{baseUrl}}"
            ],
            "query": [],
            "variable": [
              {
                "disabled": false,
                "description": {
                  "content": "(Required) 상점Id",
                  "type": "text/plain"
                },
                "type": "any",
                "value": "",
                "key": "shopId"
              }
            ]
          },
          "header": [
            {
              "key": "Accept",
              "value": "application/json"
            }
          ],
          "method": "GET"
        },
        "summary": "상품 기간 할인 조회"
      }
    },
    "/api/v1/{shopId}/icon": {
      "get": {
        "operationId": "get-icon",
        "description": "상품에 등록 가능한 아이콘 리스트를 조회합니다.",
        "tags": [
          "상품"
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "return_code": {
                      "type": "string",
                      "description": "결과 <a href='/docs/guide/app/makeshop-code-list#B-1-1' target='_blank'>코드정보</a>"
                    },
                    "totalCount": {
                      "type": "integer",
                      "description": "전체 검색 수"
                    },
                    "totalPage": {
                      "type": "integer",
                      "description": "총 페이지 수"
                    },
                    "page": {
                      "type": "integer",
                      "description": "검색 페이지"
                    },
                    "count": {
                      "type": "integer",
                      "description": "출력된 검색 수"
                    },
                    "list": {
                      "type": "array",
                      "description": "처리 리스트",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "ID"
                          },
                          "code": {
                            "type": "string",
                            "description": "아이콘"
                          },
                          "icon_sort": {
                            "type": "string",
                            "description": "정렬 (값이 클수록 앞으로 배치됩니다)"
                          },
                          "custom": {
                            "type": "string",
                            "description": "사용자 추가 여부 (Y : 사용자 추가, N : 공통)"
                          },
                          "device_type": {
                            "type": "string",
                            "description": "설정 위치 (WEB : PC, MOBILE : 모바일)"
                          },
                          "image_url": {
                            "type": "string",
                            "description": "이미지 URL"
                          }
                        }
                      }
                    },
                    "orderVersion": {
                      "type": "integer",
                      "description": "주문서 버전"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "shopId",
            "in": "path",
            "required": true,
            "description": "상점Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device_type",
            "in": "query",
            "required": false,
            "description": "출력 위치 (WEB : PC, MOBILE : 모바일, default : 전체)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "description": "아이콘 코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "custom",
            "in": "query",
            "required": false,
            "description": "사용사 추가 여부 (Y ; 사용자 추가, N : 기본 아이콘 default : 전체)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "검색 한도. MAX : 5000 (default)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "검색할 페이지",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "상품",
        "extensions": [
          {
            "key": "x-scope",
            "value": "상품"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "postman": {
          "name": "상품 아이콘 조회",
          "description": {
            "content": "상품에 등록 가능한 아이콘 리스트를 조회합니다.",
            "type": "text/plain"
          },
          "url": {
            "path": [
              "api",
              "v1",
              ":shopId",
              "icon"
            ],
            "host": [
              "{{baseUrl}}"
            ],
            "query": [
              {
                "disabled": false,
                "description": {
                  "content": "출력 위치 (WEB : PC, MOBILE : 모바일, default : 전체)",
                  "type": "text/plain"
                },
                "key": "device_type",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "아이콘 코드",
                  "type": "text/plain"
                },
                "key": "code",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "사용사 추가 여부 (Y ; 사용자 추가, N : 기본 아이콘 default : 전체)",
                  "type": "text/plain"
                },
                "key": "custom",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "검색 한도. MAX : 5000 (default)",
                  "type": "text/plain"
                },
                "key": "limit",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "검색할 페이지",
                  "type": "text/plain"
                },
                "key": "page",
                "value": ""
              }
            ],
            "variable": [
              {
                "disabled": false,
                "description": {
                  "content": "(Required) 상점Id",
                  "type": "text/plain"
                },
                "type": "any",
                "value": "",
                "key": "shopId"
              }
            ]
          },
          "header": [
            {
              "key": "Accept",
              "value": "application/json"
            }
          ],
          "method": "GET"
        },
        "summary": "상품 아이콘 조회"
      }
    },
    "/api/v1/{shopId}/main_display": {
      "get": {
        "operationId": "get-main_display",
        "description": "메인 노출 상품을 조회합니다.",
        "tags": [
          "상품 진열"
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "description": "조회 리스트",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "메인 노출 코드"
                          },
                          "name": {
                            "type": "string",
                            "description": "메인 노출명"
                          },
                          "device": {
                            "type": "string",
                            "description": "출력 위치 (PC, MOBILE)"
                          },
                          "fixed": {
                            "type": "string",
                            "description": "고정 여부 (Y : 고정, N : 일반)"
                          },
                          "sort": {
                            "type": "string",
                            "description": "정렬 (오름차순)"
                          },
                          "date": {
                            "type": "string",
                            "description": "등록일 (0000-00-00 00:00:00)",
                            "format": "date-time",
                            "example": "0000-00-00 00:00:00"
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "integer",
                      "description": "검색 페이지"
                    },
                    "count": {
                      "type": "integer",
                      "description": "출력된 검색 수"
                    },
                    "totalPage": {
                      "type": "integer",
                      "description": "총 페이지 수"
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 검색 수"
                    },
                    "return_code": {
                      "type": "string",
                      "description": "처리결과 (성공시 0000, 실패시 error code 출력) <a href='/docs/guide/app/makeshop-code-list#B-1-1' target='_blank'>코드정보</a>"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "shopId",
            "in": "path",
            "required": true,
            "description": "상점Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "required": false,
            "description": "상품 번호",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "description": "메인 노출 코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "검색 한도. MAX : 5000 (default)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "검색할 페이지",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "상품",
        "extensions": [
          {
            "key": "x-scope",
            "value": "상품"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "postman": {
          "name": "메인 노출 상품 조회",
          "description": {
            "content": "메인 노출 상품을 조회합니다.",
            "type": "text/plain"
          },
          "url": {
            "path": [
              "api",
              "v1",
              ":shopId",
              "main_display"
            ],
            "host": [
              "{{baseUrl}}"
            ],
            "query": [
              {
                "disabled": false,
                "description": {
                  "content": "상품 번호",
                  "type": "text/plain"
                },
                "key": "product_id",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "메인 노출 코드",
                  "type": "text/plain"
                },
                "key": "code",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "검색 한도. MAX : 5000 (default)",
                  "type": "text/plain"
                },
                "key": "limit",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "검색할 페이지",
                  "type": "text/plain"
                },
                "key": "page",
                "value": ""
              }
            ],
            "variable": [
              {
                "disabled": false,
                "description": {
                  "content": "(Required) 상점Id",
                  "type": "text/plain"
                },
                "type": "any",
                "value": "",
                "key": "shopId"
              }
            ]
          },
          "header": [
            {
              "key": "Accept",
              "value": "application/json"
            }
          ],
          "method": "GET"
        },
        "summary": "메인 노출 상품 조회"
      }
    },
    "/api/v1/{shopId}/plan": {
      "get": {
        "operationId": "get-plan",
        "description": "기획전 상품 리스트를 조회합니다.",
        "tags": [
          "기획전"
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "기획전 코드"
                          },
                          "title": {
                            "type": "string",
                            "description": "기획전명"
                          },
                          "product_count": {
                            "type": "integer",
                            "description": "기획전 상품 수"
                          },
                          "start_date": {
                            "type": "string",
                            "description": "기획전 시작일"
                          },
                          "end_date": {
                            "type": "string",
                            "description": "기획전 종료일"
                          },
                          "pc_title_content_type": {
                            "type": "string",
                            "description": "PC 타이틀 이미지"
                          },
                          "mobile_title_content_type": {
                            "type": "string",
                            "description": "모바일 타이틀 이미지"
                          },
                          "pc_title_content": {
                            "type": "string",
                            "description": "PC 타이틀 이미지 내용"
                          },
                          "mobile_title_content": {
                            "type": "string",
                            "description": "모바일 타이틀 이미지 내용"
                          },
                          "use_category": {
                            "type": "string",
                            "description": "하위 카테고리 사용여부 Y,N"
                          },
                          "display_sold_out": {
                            "type": "string",
                            "description": "상품일반정보. VIEW : 노출, HIDDEN : 노출 안함, BACK : 뒤로 보냄"
                          },
                          "sort": {
                            "type": "integer",
                            "description": "정렬. 1 : 등록순 2 : 인기순(판매수량 순)"
                          },
                          "reg_date": {
                            "type": "string",
                            "description": "등록일"
                          }
                        }
                      }
                    },
                    "return_code": {
                      "type": "string",
                      "description": "성공시 0000, 실패시 error code 출력 <a href='/docs/guide/app/makeshop-code-list#B-1-1' target='_blank'>코드정보</a>"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "shopId",
            "in": "path",
            "required": true,
            "description": "상점Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notice_id",
            "in": "query",
            "required": false,
            "description": "분류코드. 1 : 의류",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notice_ids",
            "in": "query",
            "required": false,
            "description": "분류코드 다중입력",
            "schema": {
              "type": "array"
            }
          }
        ],
        "x-scope": "상품",
        "extensions": [
          {
            "key": "x-scope",
            "value": "상품"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "postman": {
          "name": "기획전 상품 조회",
          "description": {
            "content": "기획전 상품 리스트를 조회합니다.",
            "type": "text/plain"
          },
          "url": {
            "path": [
              "api",
              "v1",
              ":shopId",
              "plan"
            ],
            "host": [
              "{{baseUrl}}"
            ],
            "query": [
              {
                "disabled": false,
                "description": {
                  "content": "분류코드. 1 : 의류",
                  "type": "text/plain"
                },
                "key": "notice_id",
                "value": ""
              },
              {
                "disabled": false,
                "description": {
                  "content": "분류코드 다중입력",
                  "type": "text/plain"
                },
                "key": "notice_ids",
                "value": ""
              }
            ],
            "variable": [
              {
                "disabled": false,
                "description": {
                  "content": "(Required) 상점Id",
                  "type": "text/plain"
                },
                "type": "any",
                "value": "",
                "key": "shopId"
              }
            ]
          },
          "header": [
            {
              "key": "Accept",
              "value": "application/json"
            }
          ],
          "method": "GET"
        },
        "summary": "기획전 상품 조회"
      }
    },
    "/api/v1/{shopId}/product": {
      "get": {
        "operationId": "get-product",
        "description": "상품 정보를 조회합니다.\n\n:::info\n최근 등록한 상품 순으로 정렬됩니다.<br />요청 전문 중 fields필드를 이용하면 불필요한 값으로 인한 검색 속도 저하를 최소화 할 수 있습니다.<br />상품 조회는 1,000개로 이내로 검색을 권장합니다.<br />product_info_notice 항목은 지원 종료되며, product_info_notices로 대체됩니다.\n:::",
        "tags": [
          "상품"
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "return_code": {
                      "type": "string",
                      "description": "결과 <a href='/docs/guide/app/makeshop-code-list#B-1-1' target='_blank'>코드정보</a>"
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 검색 수"
                    },
                    "totalPage": {
                      "type": "string",
                      "description": "총 페이지 수"
                    },
                    "page": {
                      "type": "string",
                      "description": "현재 페이지"
                    },
                    "count": {
                      "type": "string",
                      "description": "조회된 리스트 수"
                    },
                    "list": {
                      "type": "array",
                      "description": "조회 리스트",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uid": {
                            "type": "string",
                            "description": "상품번호"
                          },
                          "brandcode": {
                            "type": "string",
                            "description": "상품코드 (* 카테고리 정보)"
                          },
                          "cate1": {
                            "type": "string",
                            "description": "대분류"
                          },
                          "cate2": {
                            "type": "string",
                            "description": "중분류"
                          },
                          "cate3": {
                            "type": "string",
                            "description": "소분류"
                          },
                          "category_name": {
                            "type": "string",
                            "description": "카테고리명"
                          },
                          "product_name": {
                            "type": "string",
                            "description": "상품명"
                          },
                          "consumerprice": {
                            "type": "string",
                            "description": "소비자가"
                          },
                          "sellprice": {
                            "type": "string",
                            "description": "판매가"
                          },
                          "buyprice": {
                            "type": "string",
                            "description": "공급가"
                          },
                          "reserve": {
                            "type": "string",
                            "description": "적립금"
                          },
                          "mobile_reserve": {
                            "type": "string",
                            "description": "모바일 적립금"
                          },
                          "np_condition": {
                            "type": "string",
                            "description": "상품 상태\n\nnew : 신상품, used : 중고, return : 반품, refurbished : 리퍼, display : 전시, scratch : 스크래치"
                          },
                          "np_view": {
                            "type": "string",
                            "description": "네이버쇼핑 노출여부 (Y : 노출함, N : 노출안함)"
                          },
                          "np_product_options": {
                            "type": "string",
                            "description": "상품특성\n\noverseas_purchase : 해외 구매 대행 상품, parallel_import : 병행 수입 상품, made-to-order_product : 주문 제작 상품"
                          },
                          "np_product_flag": {
                            "type": "string",
                            "description": "판매 방식\n\nnot used : 사용안함, wholesale : 도매, rental : 렌탈, lease : 대여, installment : 할부, proxy purchase : 구매대행, pre-order : 예약구매, reslae : 리셀"
                          },
                          "np_age_group": {
                            "type": "string",
                            "description": "권장 연령대 (infant : 유아, child : 아동, teen : 청소년, adult : 성인)"
                          },
                          "np_gender": {
                            "type": "string",
                            "description": "성별 (male : 남성, female : 여성, unisex : 남녀공용)"
                          },
                          "keywords": {
                            "type": "string",
                            "description": "키워드"
                          },
                          "sell_accept": {
                            "type": "string",
                            "description": "판매 가능 여부 (Y or N)"
                          },
                          "display": {
                            "type": "string",
                            "description": "상품 노출 여부 (Y or N)"
                          },
                          "product_type": {
                            "type": "string",
                            "description": "상품 타입 (NORMAL, PACKAGE : 세트상품)"
                          },
                          "option_type": {
                            "type": "string",
                            "description": "옵션 타입 (<a href='/docs/guide/app/makeshop-code-list#A-3-1' target='_blank'>A.3.1</a> 참고 통합옵션 미제공)"
                          },
                          "options": {
                            "type": "object",
                            "description": "옵션 정보 (<a href='/docs/guide/app/makeshop-code-list#A-3-2' target='_blank'>A.3.2</a> 참고)",
                            "properties": {
                              "option": {
                                "type": "array",
                                "description": "통합옵션",
                                "items": {
                                  "type": "array",
                                  "items": {}
                                }
                              },
                              "basic": {
                                "type": "array",
                                "description": "통합옵션 - option 조합",
                                "items": {
                                  "type": "array",
                                  "items": {}
                                }
                              }
                            }
                          },
                          "stocks": {
                            "type": "array",
                            "description": "파워 옵션 재고 (<a href='/docs/guide/app/makeshop-code-list#A-3-3' target='_blank'>A.3.3</a> 참고)",
                            "items": {
                              "type": "array",
                              "items": {}
                            }
                          },
                          "best_product_display": {
                            "type": "string",
                            "description": "베스트 상품 노출 여부 (Y, N)"
                          },
                          "best_review_display": {
                            "type": "string",
                            "description": "베스트 리뷰 노출 여부 (Y, N)"
                          },
                          "sellcount": {
                            "type": "string",
                            "description": "판매개수"
                          },
                          "selldate": {
                            "type": "string",
                            "description": "최근 판매일 (0000-00-00 00:00:00)",
                            "format": "date-time",
                            "example": "0000-00-00 00:00:00"
                          },
                          "regdate": {
                            "type": "string",
                            "description": "등록일 (0000-00-00 00:00:00)",
                            "format": "date-time",
                            "example": "0000-00-00 00:00:00"
                          },
                          "moddate": {
                            "type": "string",
                            "description": "수정일 (0000-00-00 00:00:00)",
                            "format": "date-time",
                            "example": "0000-00-00 00:00:00"
                          },
                          "ems_type": {
                            "type": "string",
                            "description": "국내/국외 배송 (DEFAULT, KOR_ONLY : 국내 전용, OVERSEAS : 국내/해외)"
                          },
                          "quantity": {
                            "type": "string",
                            "description": "재고"
                          },
                          "maximage": {
                            "type": "string",
                            "description": "확대이미지"
                          },
                          "minimage": {
                            "type": "string",
                            "description": "상세이미지"
                          },
                          "tinyimage": {
                            "type": "string",
                            "description": "리스트/메인 이미지"
                          },
                          "mobile_image": {
                            "type": "string",
                            "description": "모바일 이미지 (조회필드 설정시에만 출력)"
                          },
                          "multi_image": {
                            "type": "array",
                            "description": "다중이미지 (최대 10개)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "rolloverimage": {
                            "type": "string",
                            "description": "롤오버이미지"
                          },
                          "provider_code": {
                            "type": "string",
                            "description": "공급사 코드"
                          },
                          "provider_name": {
                            "type": "string",
                            "description": "공급사명"
                          },
                          "provider_company_name": {
                            "type": "string",
                            "description": "공급사 회사명"
                          },
                          "provider_company_addr": {
                            "type": "string",
                            "description": "공급사 회사주소"
                          },
                          "provider_company_tel": {
                            "type": "string",
                            "description": "공급사 연락처"
                          },
                          "provider_commission": {
                            "type": "string",
                            "description": "공급사 수수료"
                          },
                          "provider_burden": {
                            "type": "string",
                            "description": "공급사 상품할인\n\nDEFAULT : 기본설정, SHOP : 개별설정(본사 부담), PROVIDER : 개별설정(공급자 부담)"
                          },
                          "provide_delivery_price": {
                            "type": "string",
                            "description": "공급사 배송비"
                          },
                          "supply_code": {
                            "type": "string",
                            "description": "사입처 코드"
                          },
                          "supply_name": {
                            "type": "string",
                            "description": "사입처명"
                          },
                          "supply_product_name": {
                            "type": "string",
                            "description": "사입/도매업체 상품명"
                          },
                          "supply_addr": {
                            "type": "string",
                            "description": "사입처 주소"
                          },
                          "supply_tel": {
                            "type": "string",
                            "description": "사입처 연락처"
                          },
                          "hscode": {
                            "type": "string",
                            "description": "수출입상품코드"
                          },
                          "subtitle": {
                            "type": "string",
                            "description": "추가 상품명"
                          },
                          "eng_name": {
                            "type": "string",
                            "description": "영문 상품명"
                          },
                          "production": {
                            "type": "string",
                            "description": "제조사"
                          },
                          "origin": {
                            "type": "string",
                            "description": "원산지"
                          },
                          "brname": {
                            "type": "string",
                            "description": "브랜드"
                          },
                          "brand": {
                            "type": "array",
                            "description": "브랜드 코드 정보",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "브랜드명"
                                },
                                "brand_id": {
                                  "type": "string",
                                  "description": "브랜드 대분류"
                                },
                                "brand_mid": {
                                  "type": "string",
                                  "description": "브랜드 중분류"
                                },
                                "brand_sid": {
                                  "type": "string",
                                  "description": "브랜드 소분류"
                                }
                              }
                            }
                          },
                          "model": {
                            "type": "string",
                            "description": "모델명"
                          },
                          "opendate": {
                            "type": "string",
                            "description": "출시일"
                          },
                          "min_quantity": {
                            "type": "string",
                            "description": "구매 최소 수량"
                          },
                          "max_quantity": {
                            "type": "string",
                            "description": "구매 최대 수량 (0 인 경우 구매 최대  제한없음)"
                          },
                          "min_order_quantity_method": {
                            "type": "string",
                            "description": "최소 주문 수량 적용 방식. ALL : 최소 주문한도 설정을 상품단위로 적용, ACH :  주문한도 설정을 옵션단위로 적용"
                          },
                          "max_order_quantity_method": {
                            "type": "string",
                            "description": "최대 주문 수량 적용 방식. ALL : 최대 주문한도 설정을 상품단위로 적용, EACH : 최대 주문한도 설정을 옵션단위로 적용"
                          },
                          "vat": {
                            "type": "string",
                            "description": "부가세 여부 (Y, N)"
                          },
                          "vat_type": {
                            "type": "string",
                            "description": "부가세 설정. (vat : 부가세 상품, free : 면세 상품, zero : 영세율 상품)"
                          },
                          "product_content": {
                            "type": "string",
                            "description": "상품 상세 정보 (base64Encode)"
                          },
                          "product_m_content": {
                            "type": "string",
                            "description": "모바일 상품 상세 정보 (base64Encode)"
                          },
                          "match_product_name": {
                            "type": "string",
                            "description": "매칭 상품명"
                          },
                          "match_category": {
                            "type": "string",
                            "description": "매칭 카테고리 (fields 추가시 출력됩니다.)"
                          },
                          "match_category_names": {
                            "type": "string",
                            "description": "매칭 카테고리 분류명 (fields 추가시 출력됩니다.)"
                          },
                          "virtual_cate": {
                            "type": "array",
                            "description": "가상 분류 코드. (cate1 : 대분류, cate2 : 중분류, cate3 : 소분류)",
                            "items": {
                              "type": "string"
                            }
                          },
                          "discount": {
                            "type": "object",
                            "description": "할인 정보",
                            "properties": {
                              "uid": {
                                "type": "string",
                                "description": "상품 할인 번호"
                              },
                              "sale_type": {
                                "type": "string",
                                "description": "할인 타입. (new : 신상품, rebuy : 리바이, term : 기간할인)"
                              },
                              "title": {
                                "type": "string",
                                "description": "할인 제목"
                              },
                              "user_type": {
                                "type": "string",
                                "description": "구매 권한 (Y : 전체, N : 회원)"
                              },
                              "device": {
                                "type": "string",
                                "description": "버전 (PC, MOBILE)"
                              },
                              "discount_price": {
                                "type": "string",
                                "description": "할인 금액"
                              },
                              "unit": {
                                "type": "string",
                                "description": "할인 단위 (price : 원, percent : %)"
                              },
                              "cut_position": {
                                "type": "string",
                                "description": "절사 금액 (0 : 절사안함, 1 : 원단위, 2 : 십원단위, 3 : 백원단위)"
                              },
                              "cut_option": {
                                "type": "string",
                                "description": "절사 방식 (ceil : 올림, round : 반올림, floor : 절사)"
                              },
                              "option_discount": {
                                "type": "string",
                                "description": "옵션 금액 할인 (Y, N)"
                              },
                              "point": {
                                "type": "string",
                                "description": "신상품 할인 시점 (reg : 등록시점, mod : 수정시점, display : 노출시점)"
                              },
                              "period": {
                                "type": "string",
                                "description": "신상품 할인 기간"
                              },
                              "period_type": {
                                "type": "string",
                                "description": "신상품 할인 기간 (date : 일, time : 시간)"
                              },
                              "start_date": {
                                "type": "string",
                                "description": "기간할인 시작일"
                              },
                              "end_date": {
                                "type": "string",
                                "description": "기간할인 종료일"
                              },
                              "discount_week": {
                                "type": "array",
                                "description": "기간할인 노출기간",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "product_coupon_except": {
                                "type": "string",
                                "description": "상품 쿠폰 할인 예외 (Y, N  [기간 할인 내 설정])"
                              },
                              "view_type": {
                                "type": "string",
                                "description": "기간할인 노출 권한 여부\n\nY :  회원 로그인시만 할인가격노출, N : 비회원에게도 할인가격 노출(상품상세 미포함), A : 비회원에게도 할인가격 노출(상품상세 포함), user_type(구매권한) = Y(전체) 인 경우에는 view_type과 상관없이 전체 노출 됩니다."
                              },
                              "view_icon": {
                                "type": "string",
                                "description": "기간할인 노출아이콘(pc)"
                              },
                              "view_m_icon": {
                                "type": "string",
                                "description": "기간할인 노출아이콘(moblie)"
                              },
                              "info": {
                                "type": "string",
                                "description": "할인 정보 or 할인율"
                              },
                              "info_mobile": {
                                "type": "string",
                                "description": "모바일 할인 정보 or 할인율"
                              }
                            }
                          },
                          "discount_promotion": {
                            "type": "array",
                            "description": "대량 구매 할인 정보",
                            "items": {
                              "type": "object",
                              "properties": {
                                "uid": {
                                  "type": "string",
                                  "description": "프로모션 번호"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "할인 타입 (BULK: 대량구매할인)"
                                },
                                "status": {
                                  "type": "string",
                                  "description": "진행 여부 (Y: 진행, N: 진행안함)"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "할인명"
                                },
                                "user_type": {
                                  "type": "string",
                                  "description": "적용 대상 (ALL: 회원+비회원, MEMBER: 회원)"
                                },
                                "group_benefit": {
                                  "type": "string",
                                  "description": "상품 그룹 혜택 (Y/N)"
                                },
                                "reserve": {
                                  "type": "string",
                                  "description": "상품적립금 (Y/N)"
                                },
                                "coupon": {
                                  "type": "string",
                                  "description": "쿠폰 할인 (Y/N)"
                                },
                                "bulk_type": {
                                  "type": "string",
                                  "description": "대량구매 구분 (수량/금액)"
                                },
                                "discount_type": {
                                  "type": "string",
                                  "description": "할인 방식 (PERCENT: %, WON: 금액)"
                                },
                                "option_apply": {
                                  "type": "string",
                                  "description": "옵션금액할인 (Y/N (옵션별 수량별 할인 적용))"
                                },
                                "discount_trim_unit": {
                                  "type": "string",
                                  "description": "할인 절사 단위 (0: 절사안함, 1: 원단위, 2: 십원단위, 3: 백원단위)"
                                },
                                "discount_trim_type": {
                                  "type": "string",
                                  "description": "할인 절사 방식 (ceil: 올림, round: 반올림, floor: 절사)"
                                },
                                "etctype": {
                                  "type": "string",
                                  "description": "기타 부가 설정"
                                },
                                "discount_steps": {
                                  "type": "array",
                                  "description": "할인 조건 ([{min, max, discount}])",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "mod_date": {
                                  "type": "string",
                                  "description": "수정일"
                                },
                                "start_date": {
                                  "type": "string",
                                  "description": "시작일"
                                },
                                "end_date": {
                                  "type": "string",
                                  "description": "종료일"
                                },
                                "device": {
                                  "type": "string",
                                  "description": "적용 버전 (PC, MOBILE, APP)"
                                },
                                "pc_icon": {
                                  "type": "string",
                                  "description": "PC 아이콘 경로"
                                },
                                "mobile_icon": {
                                  "type": "string",
                                  "description": "모바일 아이콘 경로"
                                },
                                "reg_date": {
                                  "type": "string",
                                  "description": "등록일"
                                }
                              }
                            }
                          },
                          "discount_rebuy": {
                            "type": "array",
                            "description": "리바이 할인 정보",
                            "items": {
                              "type": "string"
                            }
                          },
                          "rebuy_use": {
                            "type": "string",
                            "description": "리바이 할인 사용 여부 (Y: 사용, N: 미사용)"
                          },
                          "rebuy_period": {
                            "type": "string",
                            "description": "리바이 할인 대기 기간 (일 단위)"
                          },
                          "discount_except": {
                            "type": "array",
                            "description": "할인 제외",
                            "items": {
[...]
